<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MFAvocat - Nos Client</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet}" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
          media='all'/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a377b245e.js" crossorigin="anonymous"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/index}">
            <div class="sidebar-brand-icon">
                <img class="img-fluid" style="max-width: 75px" th:src="@{img/FormatPNG.webp}">
            </div>
            <!--                <div class="sidebar-brand-text mx-3">MFAvocat</div>-->
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index}">
                <i class="fas fa-tachometer-alt"></i>
                <span>Tableau de Bord</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Site web
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Informations</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion:</h6>
                    <a class="collapse-item" th:href="@{#}">Éditer</a>
                    <a class="collapse-item" href="http://localhost:9101/index">Site Client</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tâches
        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed  active" th:href="@{/#}" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="far fa-calendar-alt"></i>
                <span>Agenda</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Aperçu:</h6>
                    <a class="collapse-item" th:href="@{/sevenDays}">7 prochains jours</a>
                    <a class="collapse-item" th:href="@{/day}">Aujourd'hui</a>
                    <h6 class="collapse-header">Gestion:</h6>
                    <a class="collapse-item" th:href="@{/rdv}">Créer une tâche</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Gestion
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapseClient"
               aria-expanded="true" aria-controls="collapseClient">
                <i class="fas fa-users"></i>
                <span>Client</span>
            </a>
            <div id="collapseClient" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Consulter:</h6>
                    <a class="collapse-item" th:href="@{/customers}">Clients</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Gestions:</h6>
                    <a class="collapse-item" th:href="@{/addCustomer}">Ajouter un client</a>
                    <a class="collapse-item" th:href="@{/addLawyer}">Ajouter un Avocat</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="far fa-folder-open"></i>
                <span>Documents</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Facture:</h6>
                    <a class="collapse-item" th:href="@{/billPaid}">Payée</a>
                    <a class="collapse-item" th:href="@{/billNotPaid}">Non Payée</a>
                    <a class="collapse-item" th:href="@{/bills}">Synthèse</a>
                    <a class="collapse-item" th:href="@{/addBill}">Ajouter</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interaction
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/messages}">
                <i class="far fa-comments"></i>
                <span>Messages</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/testimonials}">
                <i class="far fa-comment-alt"></i>
                <span>Témoignages</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapsePages1"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-file-signature"></i>
                <span>Contacts</span>
            </a>
            <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Contact:</h6>
                    <a class="collapse-item" th:href="@{/contacts}">Nouveau</a>
                    <a class="collapse-item" th:href="@{/ContactsSeen}">Ancien</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Notification
        </div>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/alert}">
                <i class="far fa-bell"></i>
                <span>Aperçu</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card">
            <img class="img-fluid" style="max-width: 150px" th:src="@{img/FormatPNG.webp}" alt="">
            <p class="text-center mb-2"><strong>Application Web Client</strong> le site web pour nos client</p>
            <a class="btn btn-success btn-sm" href="http://localhost:9101/index">Accès</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Recherche ..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-dark" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter " th:text="${tasksAlert.size()+billsAlert.size()+commentsAlert.size()}"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Notifications
                            </h6>
                            <div th:each="task : ${tasksAlert}">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{'/task/'+${task.id}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-danger">
                                            <i class="fas fa-handshake text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500" th:text="${task.date.date}+' '+${month[task.date.month]}+' '+${task.date.year+1900}"></div>
                                        <span class="font-weight-bold" th:text="${task.customer.name}+' '+${task.customer.firstname}+' a pris un nouveau rendez-vous !' "></span>
                                    </div>
                                </a>
                            </div>
                            <div th:each="bill : ${billsAlert}">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{'/bill/'+${bill.id}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500" th:text="${bill.date.date}+' '+${month[bill.date.month]}+' '+${bill.date.year+1900}"></div>
                                        <span class="font-weight-bold" th:text="${bill.customer.name}+' '+${bill.customer.firstname}+' a réglé sa facture d\'un montant de '+${bill.price}+' euros !' "></span>
                                    </div>
                                </a>
                            </div>
                            <div th:each="comment : ${commentsAlert}">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{'/testimonials'}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-dark">
                                            <i class="fas fa-comment-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500" th:text="${comment.customer.name}+' '+${comment.customer.firstname}"></div>
                                        <span class="font-weight-bold" th:text="${comment.description}"></span>
                                    </div>
                                </a>
                            </div>
                            <a class="dropdown-item text-center small text-gray-500" th:href="@{/alert}">Voir toutes les notifications</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter" th:text="${messagesAlert.size()+contactsAlert.size()}"></span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <div th:each="message : ${messagesAlert}">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{'/message/'+${message.customer.id}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-info">
                                            <i class="fas fa-comment text-white"></i>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate"th:text="${message.description}"></div>
                                        <div class="small text-gray-500"th:text="${message.customer.firstname}+' '+${message.customer.name}+' · '+${message.date.date}+' '+${month[message.date.month]}+' '+${message.date.year+1900}"></div>
                                    </div>
                                </a>
                            </div>

                            <div th:each="contact : ${contactsAlert}">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{'/contact/'+${contact.id}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-address-card text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500" th:text="${contact.name}"></div>
                                        <span class="font-weight-bold" th:text="'Demande de contact pour : '+${contact.subject}"></span>
                                    </div>
                                </a>
                            </div>
                            <a class="dropdown-item text-center small text-gray-500" th:href="@{/messages}">Accéder au message</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${userCurrent.firstname}+' '+${userCurrent.name}"></span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/profil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profil
                            </a>
                            <a class="dropdown-item" th:href="@{#}">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Paramètre (Fonctionnalités non prévu en V1)
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{#}" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Déconnexion
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid offset-1 col-10 ">

                <!-- DataTales Example -->
                <div class="card shadow mb-4 border-left-primary">
                    <div class="text-center card-header py-3">
                        <div class="text-center">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="'Enregistrer un Nouvel Avocat'"></h6>
                        </div>
                    </div>
                    <div class="card-body" >
                        <form method="post" action="#" th:action="@{/registerCheckLawyer}" th:object="${registerForm}" class="col-lg form-horizontal well">
                            <fieldset >
                                <legend class="push border-bottom text-right"style="font-size: 16px">Identité</legend>
                                <div class="row form-group">
                                    <label for="name" class="col-sm-3 col-form-label">Nom<span class="text-danger">*</span>:</label>
                                    <div class="col-sm-9">
                                        <input id="name" type="text" th:field="*{user.name}" class="form-control" placeholder="(de 3 à 50 caractères)">
                                        <div th:if="${registerFormCheck.isNameSize()}">
                                            <p th:if="${registerFormCheck.isNameEmpty()}" class="text-danger">Le champ Nom est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isNameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="firstname" class="col-sm-3 col-form-label control-label">Prénom<span class="text-danger">*</span>:</label>
                                    <div class="col-sm-9">
                                        <input id="firstname"  type="text" th:field="*{user.firstname}"class="form-control" placeholder="(de 3 à 50 caractères)">
                                        <div th:if="${registerFormCheck.isFirstnameSize()}">
                                            <p th:if="${registerFormCheck.isFirstnameEmpty()}" class="text-danger">Le champ Prénom est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isFirstnameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="push border-bottom text-right"style="font-size: 16px">Coordonnée</legend>
                                <div class="row form-group">
                                    <label for="address" class="col-sm-3 col-form-label">Adresse postale<span class="text-danger">*</span>: </label>
                                    <div class="col-sm-2">
                                        <input id="numAddress" th:field="*{address.num}" type="text" class="form-control" placeholder="N°">
                                        <p th:if="${registerFormCheck.isAddressNumEmpty()}" class="text-danger">Le numéro de l'adresse doit être différent de 0.</p>

                                    </div>
                                    <div class="col-sm-7">
                                        <input id="address" th:field="*{address.name}" type="text" class="form-control" placeholder="Rue">
                                        <div th:if="${registerFormCheck.isAddressNameSize()}">
                                            <p th:if="${registerFormCheck.isAddressNameEmpty()}" class="text-danger">Le champ Adresse est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isAddressNameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                                        </div>
                                    </div>
                                    <div class="offset-3 col-sm-4">
                                        <input id="ZIP" th:field="*{address.zipCode}" type="text" class="form-control" placeholder="Code Postale">
                                        <div th:if="${registerFormCheck.isZipSize()}">
                                            <p th:if="${registerFormCheck.isZipEmpty()}" class="text-danger">Le champ Code Postale est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isZipEmpty()}" class="text-danger">Attention! Le champ doit être composer de 5 chiffres (ex : 13005).</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <input id="city" th:field="*{address.city}" type="text" class="form-control" placeholder="Ville">
                                        <div th:if="${registerFormCheck.isAddressCitySize()}">
                                            <p th:if="${registerFormCheck.isAddressCityEmpty()}" class="text-danger">Le champ Pays est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isAddressCityEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 et 50 caractères.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="mail" class="col-sm-3 col-form-label">Adresse e-mail<span class="text-danger">*</span>: </label>
                                    <div class="col-sm-9">
                                        <input id="mail" th:field="*{address.mail}" type="email" class="form-control" placeholder="(de 3 à 50 caractères)">
                                        <p th:if="${registerFormCheck.isMailExisting()}" class="text-danger">Un utilisateur est déjà enregistrer avec cette e-mail.</p>
                                        <th:block th:unless="${registerFormCheck.isMailExisting()}">
                                            <div th:if="${registerFormCheck.isMailSize()}">
                                                <p th:if="${registerFormCheck.isMailEmpty()}" class="text-danger">Le champ E-mail est obligatoire.</p>
                                                <p th:unless="${registerFormCheck.isMailEmpty()}" class="text-danger">Attention! Le champ est trop long ( Entre 3 et 50 caractères).</p>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="mail2" class="col-sm-3 col-form-label">Vérification Adresse e-mail<span class="text-danger">*</span>:</label>
                                    <div class="col-sm-9">
                                        <input id="mail2" name="mail2" type="email" class="form-control" placeholder="Retapez la même adresse e-mail">
                                        <th:block th:unless="${registerFormCheck.isMailExisting()}" >
                                            <p th:if="${registerFormCheck.isMailDifferent()}" class="text-danger">Les deux champs sont différents</p>
                                            <th:block th:unlex="${registerFormCheck.isMailDifferent()}">
                                                <p th:if="${registerFormCheck.isMailCheckEmpty()}" class="text-danger">Le champ E-mail est obligatoire. Il doit être égale à l'email précédent.</p>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="phone" class="col-sm-3 col-form-label">Téléphone<span class="text-danger">*</span>: </label>
                                    <div class="col-sm-9">
                                        <input id="phone" th:field="*{address.phone}" type="tel" class="form-control">
                                        <div th:if="${registerFormCheck.isPhoneSize()}">
                                            <p th:if="${registerFormCheck.isPhoneEmpty()}" class="text-danger">Le champ Téléphone est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isPhoneEmpty()}" class="text-danger">Attention! Le champ doit être composer de 10 ou 12 chiffres (ex : 0612435687 ou +33 605457878).</p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="push border-bottom text-right"style="font-size: 16px">Compte</legend>
                                <div class="row form-group">
                                    <label for="pseudo" class="col-sm-3 col-form-label">Pseudo<span class="text-danger">*</span>: </label>
                                    <div class="col-sm-9">
                                        <input id="pseudo" th:field="*{user.username}" type="text" class="form-control" placeholder="(de 3 à 50 caractères)">
                                        <p th:if="${registerFormCheck.isPseudoExisting()}" class="text-danger">Un utilisateur est déjà enregistrer avec ce pseudo.</p>
                                        <th:block th:unless="${registerFormCheck.isPseudoExisting()}">
                                            <div th:if="${registerFormCheck.isPseudoSize()}">
                                                <p th:if="${registerFormCheck.isPseudoEmpty()}" class="text-danger">Le champ pseudo est obligatoire.</p>
                                                <p th:unless="${registerFormCheck.isPseudoEmpty()}" class="text-danger">Attention! Le champ est trop long ( Entre 3 et 50 caractères).</p>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="password" class="col-sm-3 col-form-label">Mot de passe<span class="text-danger">*</span>: </label>
                                    <div class="col-sm-9">
                                        <input id="password" th:field="*{user.password}" type="password" class="form-control" placeholder="(de 3 à 100 caractères)">
                                        <div th:if="${registerFormCheck.isPasswordSize()}">
                                            <p th:if="${registerFormCheck.isPasswordEmpty()}" class="text-danger">Le champ Mot de Passe est obligatoire.</p>
                                            <p th:unless="${registerFormCheck.isPasswordEmpty()}" class="text-danger">Attention! Le champ est trop long ( Entre 3 et 100 caractères).</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="password2" class="col-sm-3 col-form-label">Vérification Mot de passe<span class="text-danger">*</span>: </label>
                                    <div class="col-sm-9">
                                        <input id="password2" name="password2" type="password" class="form-control" placeholder="Retapez le même mot de passe">
                                        <p th:if="${registerFormCheck.isPasswordDifferent()}" class="text-danger">Les deux champs sont différents</p>
                                        <th:block th:unlex="${registerFormCheck.isPasswordDifferent()}">
                                            <p th:if="${registerFormCheck.isPasswordCheckEmpty()}" class="text-danger">Le champ Mot de Passe est obligatoire. Il doit être égale au mot de passe précédent.</p>
                                        </th:block>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group row">
                                <input style="margin: auto" type="submit" value="S'inscrire" id="submit"/>
                            </div>
                            <p class="text-danger">Champ obligatoire *</p>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; MFAvocat by Dubois Geoffrey</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sélectionner "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" th:href="@{/logOut}">Déconnexion</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>



</body>

</html>