<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MFAvocat - Tableau de bord</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet}" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
          media='all'/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a377b245e.js" crossorigin="anonymous"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/index}">
                <div class="sidebar-brand-icon">
                    <img class="img-fluid" style="max-width: 75px" th:src="@{img/FormatPNG.webp}">
                </div>
<!--                <div class="sidebar-brand-text mx-3">MFAvocat</div>-->
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Tableau de Bord</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Site web
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Informations</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestion:</h6>
                        <a class="collapse-item" th:href="@{#}">Éditer</a>
                        <a class="collapse-item" href="http://localhost:9101/index">Site Client</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tâches
            </div>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="far fa-calendar-alt"></i>
                    <span>Agenda</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Aperçu:</h6>
                        <a class="collapse-item" th:href="@{/sevenDays}">7 prochains jours</a>
                        <a class="collapse-item" th:href="@{/day}">Aujourd'hui</a>
                        <h6 class="collapse-header">Gestion:</h6>
                        <a class="collapse-item" th:href="@{/rdv}">Créer une tâche</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Gestion
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapseClient"
                    aria-expanded="true" aria-controls="collapseClient">
                    <i class="fas fa-users"></i>
                    <span>Client</span>
                </a>
                <div id="collapseClient" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Consulter:</h6>
                        <a class="collapse-item" th:href="@{/customers}">Clients</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Gestions:</h6>
                        <a class="collapse-item" th:href="@{/addCustomer}">Ajouter un client</a>
                        <a class="collapse-item" th:href="@{/addLawyer}">Ajouter un Avocat</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="far fa-folder-open"></i>
                    <span>Documents</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Facture:</h6>
                        <a class="collapse-item" th:href="@{/billPaid}">Payée</a>
                        <a class="collapse-item" th:href="@{/billNotPaid}">Non Payée</a>
                        <a class="collapse-item" th:href="@{/bills}">Synthèse</a>
                        <a class="collapse-item" th:href="@{/addBill}">Ajouter</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interaction
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/messages}">
                    <i class="far fa-comments"></i>
                    <span>Messages</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/testimonials}">
                    <i class="far fa-comment-alt"></i>
                    <span>Témoignages</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/#}" data-toggle="collapse" data-target="#collapsePages1"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-file-signature"></i>
                    <span>Contacts</span>
                </a>
                <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Contact:</h6>
                        <a class="collapse-item" th:href="@{/contacts}">Nouveau</a>
                        <a class="collapse-item" th:href="@{/ContactsSeen}">Ancien</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Notification
            </div>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/alert}">
                    <i class="far fa-bell"></i>
                    <span>Aperçu</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card">
                <img class="img-fluid" style="max-width: 150px" th:src="@{img/FormatPNG.webp}" alt="">
                <p class="text-center mb-2"><strong>Application Web Client</strong> le site web pour nos client</p>
                <a class="btn btn-success btn-sm" href="http://localhost:9101/index">Accès</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Recherche ..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter " th:text="${tasksAlert.size()+billsAlert.size()+commentsAlert.size()}"></span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notifications
                                </h6>
                                <div th:each="task : ${tasksAlert}">
                                    <a class="dropdown-item d-flex align-items-center" th:href="@{'/task/'+${task.id}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-danger">
                                                <i class="fas fa-handshake text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500" th:text="${task.date.date}+' '+${month[task.date.month]}+' '+${task.date.year+1900}"></div>
                                            <span class="font-weight-bold" th:text="${task.customer.name}+' '+${task.customer.firstname}+' a pris un nouveau rendez-vous !' "></span>
                                        </div>
                                    </a>
                                </div>
                                <div th:each="bill : ${billsAlert}">
                                    <a class="dropdown-item d-flex align-items-center" th:href="@{'/bill/'+${bill.id}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500" th:text="${bill.date.date}+' '+${month[bill.date.month]}+' '+${bill.date.year+1900}"></div>
                                            <span class="font-weight-bold" th:text="${bill.customer.name}+' '+${bill.customer.firstname}+' a réglé sa facture d\'un montant de '+${bill.price}+' euros !' "></span>
                                        </div>
                                    </a>
                                </div>
                                <div th:each="comment : ${commentsAlert}">
                                    <a class="dropdown-item d-flex align-items-center" th:href="@{'/testimonials'}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-dark">
                                                <i class="fas fa-comment-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500" th:text="${comment.customer.name}+' '+${comment.customer.firstname}"></div>
                                            <span class="font-weight-bold" th:text="${comment.description}"></span>
                                        </div>
                                    </a>
                                </div>
                                <a class="dropdown-item text-center small text-gray-500" th:href="@{/alert}">Voir toutes les notifications</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter" th:text="${messagesAlert.size()+contactsAlert.size()}"></span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <div th:each="message : ${messagesAlert}">
                                    <a class="dropdown-item d-flex align-items-center" th:href="@{'/message/'+${message.customer.id}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-info">
                                                <i class="fas fa-comment text-white"></i>
                                            </div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate"th:text="${message.description}"></div>
                                            <div class="small text-gray-500"th:text="${message.customer.firstname}+' '+${message.customer.name}+' · '+${message.date.date}+' '+${month[message.date.month]}+' '+${message.date.year+1900}"></div>
                                        </div>
                                    </a>
                                </div>

                                <div th:each="contact : ${contactsAlert}">
                                    <a class="dropdown-item d-flex align-items-center" th:href="@{'/contact/'+${contact.id}}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-address-card text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500" th:text="${contact.name}"></div>
                                            <span class="font-weight-bold" th:text="'Demande de contact pour : '+${contact.subject}"></span>
                                        </div>
                                    </a>
                                </div>
                                <a class="dropdown-item text-center small text-gray-500" th:href="@{/messages}">Accéder au message</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${userCurrent.firstname}+' '+${userCurrent.name}"></span>
                                <img class="img-profile rounded-circle"
                                     th:src="@{/img/undraw_profile.svg}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" th:href="@{/profil}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>
                                <a class="dropdown-item" th:href="@{#}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Paramètre (Fonctionnalités non prévu en V1)
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{#}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tableau de Bord</h1>
                        <a th:href="@{/}" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm"><i
                                class="fas fa-redo fa-sm text-white-50"></i><span th:text="${' '}"></span>Actualiser</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Nombre de client en cours</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${nbCustomers}"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Nombre de contact</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${contactsAlert.size()}"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comment-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tâches accomplies aujourd'hui
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${pourcent}+'%'"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            th:style="'width:'+${pourcent}+'%'" th:aria-valuenow="${pourcent}" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Messages non lus</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${messagesAlert.size()}"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4 border-left-danger">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-danger">Tâche en cours</h6>
                                    <div th:if="${currentTask!=null && currentTask != ''}" class="dropdown no-arrow">
                                        <a class="dropdown-toggle" th:href="@{#}" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Action:</div>
                                            <a class="dropdown-item" th:href="@{'/task/'+${currentTask.id}}">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div th:if="${currentTask!=null && currentTask != ''}">
                                        <div >
                                            <fieldset>
                                                <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Tâche</legend>
                                                <div class="row form-group text-center">
                                                    <label for="type" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Type:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="type">
                                                        <span class="text-info" th:if="${currentTask.type == currentTask.type.MEETING}" th:text="'Réunion client'"></span>
                                                        <span class="text-warning"th:if="${currentTask.type == currentTask.type.HOLIDAY}" th:text="'Jour de repos'"></span>
                                                        <span class="text-danger"th:if="${currentTask.type == currentTask.type.AUDIENCE}" th:text="Audience"></span>
                                                        <span class="text-primary"th:if="${currentTask.type == currentTask.type.OTHER}" th:text="Autre"></span>
                                                    </div>
                                                </div>
                                                <div class="row form-group text-center">
                                                    <label for="service" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Date:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="service" th:text="${currentTask.date.date}+' '+${month[currentTask.date.month]}+' '+${currentTask.date.year+1900}">
                                                    </div>
                                                </div>
                                                <div class="row form-group text-center">
                                                    <label for="date" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Heure de début:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="date" th:text="${currentTask.hour}+'h00'">
                                                    </div>
                                                </div>
                                                <div class="row form-group text-center">
                                                    <label for="duration" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Heure de fin:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="duration" th:text="${currentTask.duration+currentTask.getHour()}+'h00'">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset th:if="${currentTask.customer != null}">
                                                <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Client</legend>
                                                <div class="row form-group text-center">
                                                    <label for="customer" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Nom:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="customer" th:text="${currentTask.customer.firstname}+' '+${currentTask.customer.name}">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset th:if="${currentTask.reason != null}">
                                                <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Motif</legend>
                                                <div class="row form-group text-center">
                                                    <label for="reason" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Raison:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="reason">
                                                        <span th:if="${currentTask.reason == currentTask.reason.DIVORCE}" th:text="Divorce"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.ADVICE}" th:text="Conseil"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.SUCCESSION}" th:text="Succession"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.CRIMINAL}" th:text="'Affaire criminel'"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.FAMILY}" th:text="Famille"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.CHILD_CARE}" th:text="'Protection de l\'enfance'"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.ALIMONY}" th:text="Pension"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.CONSTRUCTION}" th:text="Construction"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.INTELLECTUAL_PROPERTY}" th:text="'Propriété intellectuel'"></span>
                                                        <span th:if="${currentTask.reason == currentTask.reason.OTHER}" th:text="Autre"></span>
                                                    </div>
                                                </div>
                                                <div th:if="${currentTask.description != '' && currentTask.description != null}" class="row form-group text-center">
                                                    <label for="description" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Description :</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="description" th:text="${currentTask.description}">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset th:if="${currentTask.customer != null}">
                                                <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Conférence</legend>
                                                <div class="row form-group text-center">
                                                    <label for="visio" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Type:</label>
                                                    <div class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="visio">
                                                        <span th:if="${currentTask.visio}">Visio-conférence</span>
                                                        <span th:if="${!currentTask.visio}">Présentiel au Cabinet</span>
                                                    </div>
                                                </div>
                                                <div th:if="${currentTask.visio}" class="row form-group text-center">
                                                    <label for="link" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Lien de la conférence:</label>
                                                    <div th:if="${currentTask.link != null && currentTask != ''}" class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="link" th:text="${currentTask.link}">
                                                    </div>
                                                    <div th:if="${currentTask.link == null || currentTask == ''}" class="col-sm-7 text-info"
                                                         style="font-size: 16px;margin-top: auto" id="addLink" ><a th:href="@{'/addLink/'+${currentTask.id}}">Ajouter le lien</a>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div th:if="${currentTask==null || currentTask == ''}" ><p>Aucune tâche est en cours</p></div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4 border-left-warning">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-warning">Prochaine Tâche</h6>
                                    <div th:if="${nextTask != null && nextTask != ''}" class="dropdown no-arrow">
                                        <a class="dropdown-toggle" th:href="@{#}" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Action:</div>
                                            <a class="dropdown-item" th:href="@{'/task/'+${nextTask.id}}">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div th:if="${nextTask!=null && nextTask != ''}">
                                        <fieldset>
                                            <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Tâche</legend>
                                            <div class="row form-group text-center">
                                                <label for="type" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Type:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="type">
                                                    <span class="text-info" th:if="${nextTask.type == nextTask.type.MEETING}" th:text="'Réunion client'"></span>
                                                    <span class="text-warning"th:if="${nextTask.type == nextTask.type.HOLIDAY}" th:text="'Jour de repos'"></span>
                                                    <span class="text-danger"th:if="${nextTask.type == nextTask.type.AUDIENCE}" th:text="Audience"></span>
                                                    <span class="text-primary"th:if="${nextTask.type == nextTask.type.OTHER}" th:text="Autre"></span>
                                                </div>
                                            </div>
                                            <div class="row form-group text-center">
                                                <label for="service" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Date:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="service" th:text="${nextTask.date.date}+' '+${month[nextTask.date.month]}+' '+${nextTask.date.year+1900}">
                                                </div>
                                            </div>
                                            <div class="row form-group text-center">
                                                <label for="date" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Heure de début:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="date" th:text="${nextTask.hour}+'h00'">
                                                </div>
                                            </div>
                                            <div class="row form-group text-center">
                                                <label for="duration" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Heure de fin:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="duration" th:text="${nextTask.duration+nextTask.getHour()}+'h00'">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset th:if="${nextTask.customer != null}">
                                            <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Client</legend>
                                            <div class="row form-group text-center">
                                                <label for="customer" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Nom:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="customer" th:text="${nextTask.customer.firstname}+' '+${nextTask.customer.name}">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset th:if="${nextTask.reason != null}">
                                            <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Motif</legend>
                                            <div class="row form-group text-center">
                                                <label for="reason" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Raison:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="reason">
                                                    <span th:if="${nextTask.reason == nextTask.reason.DIVORCE}" th:text="Divorce"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.ADVICE}" th:text="Conseil"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.SUCCESSION}" th:text="Succession"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.CRIMINAL}" th:text="'Affaire criminel'"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.FAMILY}" th:text="Famille"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.CHILD_CARE}" th:text="'Protection de l\'enfance'"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.ALIMONY}" th:text="Pension"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.CONSTRUCTION}" th:text="Construction"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.INTELLECTUAL_PROPERTY}" th:text="'Propriété intellectuel'"></span>
                                                    <span th:if="${nextTask.reason == nextTask.reason.OTHER}" th:text="Autre"></span>
                                                </div>
                                            </div>
                                            <div th:if="${nextTask.description != '' && nextTask.description != null}" class="row form-group text-center">
                                                <label for="description" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Description :</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="description" th:text="${nextTask.description}">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset th:if="${nextTask.customer != null}">
                                            <legend class="push border-bottom text-right text-secondary" style="font-size: 16px">Conférence</legend>
                                            <div class="row form-group text-center">
                                                <label for="visio" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Type:</label>
                                                <div class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="visio">
                                                    <span th:if="${nextTask.visio}">Visio-conférence</span>
                                                    <span th:if="${!nextTask.visio}">Présentiel au Cabinet</span>
                                                </div>
                                            </div>
                                            <div th:if="${nextTask.visio}" class="row form-group text-center">
                                                <label for="link" class="offset-sm-2 col-sm-3 col-form-label text-secondary">Lien de la conférence:</label>
                                                <div th:if="${nextTask.link != null && nextTask != ''}" class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="link" th:text="${nextTask.link}">
                                                </div>
                                                <div th:if="${nextTask.link == null || nextTask == ''}" class="col-sm-7 text-info"
                                                     style="font-size: 16px;margin-top: auto" id="addLink" ><a th:href="@{'/addLink/'+${nextTask.id}}">Ajouter le lien</a>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div th:if="${nextTask==null || nextTask == ''}"><p>Plus aucune tâche de prévu aujourd'hui</p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; MFAvocat by Dubois Geoffrey</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Sélectionner "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" th:href="@{/logOut}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>


</body>

</html>