.practice-item {
    padding: 24px;
    margin-bottom: 32px;
    border: 3px solid ;
}
.practice-icon {
    text-align: center;
    font-size: 36px;
}
.practice-title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    margin-top: 16px;
}
.faq-title {
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.heading-subtitle,
.faq-title a:hover{
    color: #2a96a5;
}
.view-more a:hover {
    background: none;
    text-decoration: none;
}
.heading-subtitle {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #2a96a5;
    border-bottom: 3px solid #2a96a5;
    line-height: 1.2;
    margin-bottom: 16px;
    display: inline-block;
}
.faq-title a{
    color: #252525;
}
.faq-title {
    cursor: pointer;
    padding: 14px 10px;
    border: 2px solid #e5e5e5;
    font-size: 15px;
    letter-spacing: .05em;
    font-weight: 500;
    margin-bottom: 20px;
}
.faq-title:hover {
    border-color: #2a96a5;
}
.faq-list li.faq-title:first-child {
    margin-top: 0;
}
.faq-title a:before {
    display: inline-block;
    padding-right: 10px;
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #2a96a5;
}
.read-more {
    font-size: 13px;
    font-weight: 700;
    color: #2a96a5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.read-more:hover {
    text-decoration: none;
}
.view-more a {
    display: inline-block;
    font-weight: 500;
    padding: 12px 24px;
    text-align: center;
    color: #2b2a2a;
    border: 1px solid #2a96a5;
}
.view-more {
    display: inline-block;
    font-weight: 500;
    padding: 12px 24px;
    text-align: center;
    color: #2b2a2a;
    border: 1px solid #2a96a5;
}
.faq-p {
    margin-bottom: 12px;
}
.faq-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
