<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <title>MFAvocat: Rendez-vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
          rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
          media='all'/>
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
          media='all'/>
    <!-- Owl Carousel -->
    <link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
          media='all'/>
    <!-- Main CSS File -->
    <link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
    <!-- favicons -->
    <link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
    <link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

    <!-- JS -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-migrate.min.js}"></script>
    <script th:src="@{/css/bootstrap/js/popper.js}"></script>
    <script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/easing.js}"></script>
    <script th:src="@{/js/fitvids.js}"></script>
    <script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
    <script th:src="@{/js/isotope.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- MAIN JS -->
    <script th:src="@{/js/init.js}"></script>
    <!-- CONTAT FORM JS -->
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
    <div class="modal-menu-container">
        <div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
        <ul class="menu-mobile">
            <li class="menu-item">
                <a th:href="@{/index}">Accueil</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/rdv}">Rendez-vous</a>
            </li>
            <li class="menu-item  current-menu-item">
                <a th:href="@{/aboutMe}">L'avocate</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/practice}">Domaine d'activité</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/faq}">FAQ</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/testimonials}">Témoignages</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a th:href="@{/account}">Espace client</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                    <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                    <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                    <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                    <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                    <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                    <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu-contact">
        <ul>
            <li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
            <li></li>
            <li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
            <li></li>
            <li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
        </ul>
        <ul class="social-media">
            <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
    <div class="container">
        <div class="header-wrap header-wrap1">
            <div class="logo logo-1">
                <a th:href="@{/index}">
                    <img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
                </a>
            </div>
            <div class="header-contact">
                <div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
                </div>
                <div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
                    mylenefernandez.avocat@gmail.com
                </div>
            </div>
            <div class="nav-button-holder">
                <button type="button" class="nav-button"><span class="icon-bar"></span></button>
            </div>
        </div>
        <div class="nav-holder nav-holder-1">
            <ul class="menu-nav  menu-nav-1">
                <li class="menu-item">
                    <a th:href="@{/index}" >Accueil</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/rdv}">Rendez-vous</a>
                </li>
                <li class="menu-item  current-menu-item">
                    <a th:href="@{/aboutMe}">L'avocate</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/practice}">Domaine d'activité</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/contact}">Contact</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/faq}">FAQ</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/testimonials}">Témoignage</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a th:href="@{/account}">Espace client</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                        <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                        <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                        <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                        <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                        <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                        <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url('static/images/top-bkgs/about.jpg');">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Mylène Fernadez</h1>
            <span class="post-subtitle page-subtitle">Avocat au Barreau d'Aix-en-Provence</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<div class="aligncenter testimonial-wrapper  mb-3" style="max-width: 650px; padding: 5px">
    <div class="row g-0">
        <div class="col-sm-12 col-md-6">
            <img src="images/team/test.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card-body ">
                <h1 class="font_4" style="font-size:30px"><span class="color_19">Mylène Fernandez</span></h1>
                <p class="font_6" style="line-height:1.8em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em">Avocate</span></span></p>
                <!--					<p class="font_8" style="font-size:14px">&nbsp;</p>-->
                <h6 class="font_6" style="line-height:1.3em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em">Téléphone:</span></span></h6>
                <p class="font_8" style="line-height:1.3em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em">06.23.52.48.97</span></span></p>
                <h6 class="font_6" style="line-height:1.3em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em">Email:</span></span></h6>
                <p class="font_8" style="line-height:1.3em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em"><object height="0"><a data-auto-recognition="true"
                                                                            href="mailto:mylenefernandez.avocat@gmail.com">mylenefernandez.avocat@gmail.com</a></object>&nbsp;</span></span>
                </p>
                <h6 class="font_6" style="line-height:1.3em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em">Adresse:</span></span></h6>
                <p class="font_8" style="line-height:1.3em;font-size:14px"><span class="color_19"><span
                        style="letter-spacing:0.05em">53 rue Chanzy,</br>3300 Salon de Provence</span></span></p>
                </p>
            </div>
        </div>
    </div>
</div>
<section class="no-parallax section-holder section-home16">
    <div class="offset-md-3 col-md-6 aligncenter mb-5">
        <h3>Bonjour! Je suis Mylène!</h3>
        <p class="text-justify">Avocate passionnée, localisée à Salon de Provence
            Unde Rufinus ea tempestate praefectus praetorio ad discrimen trusus est ultimum. ire enim ipse compellebatur
            ad militem, quem exagitabat inopia simul et feritas, et alioqui coalito more in ordinarias dignitates
            asperum semper et saevum, ut satisfaceret atque monstraret, quam ob causam annonae convectio sit
            impedita.</p>
    </div>
</section>


<!-- SECTION 2-->
<section class="section-holder">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 alignc">
                <span class="heading-subtitle">Compétences juridiques</span>
                <h2 class="section-heading-title">Domaine d'activité</h2>
            </div>
        </div>
        <!-- /row -->
        <div class="row practice-items-holder-v2">
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-truck"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">accident de voitures</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-hard-hat"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Prêts à la construction</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="far fa-building"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Immobilier</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle "><i class="far fa-chart-bar"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Droit des finances</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="far fa-money-bill-alt"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Litiges fiscaux</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="far fa-meh"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Abus sur mineur</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-medkit"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Soins de santé</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-heart-broken"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Divorce</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-plane"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Aviation</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-fire"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Blessures par brûlures</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-leaf"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Loi environnementale</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="practice-item-v2">
                    <a href="practiceSinglePage">
                        <div class="practice-circle"><i class="fas fa-wheelchair"></i></div>
                    </a>
                    <h5 class="practice-title-v2"><a href="practiceSinglePage">Abus médical</a></h5>
                    <div class="practice-excerpt text-justify">Fusce commodo iaculis pulvinar. Cras faucibus facilisis
                        aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam,
                        porta.
                    </div>
                    <a class="read-more" href="practiceSinglePage">Learn More</a>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /SECTION 2-->

<section class="parallax section-holder" style="background-image:url('static/images/blog/blog-7.jpg');">
    <div class="container parallax-content" >
        <div class="row">
            <div class="col-lg-10 offset-lg-1 alignc">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 alignc">
                        <span class="heading-subtitle">Activités</span>
                        <h2 class="section-heading-title">Expériences Professionnelles</h2>
                    </div>
                </div>
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2020</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Avocate</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">CABINET MYLÈNE FERNANDEZ</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">En charge de défendre
                            des clients
                            dans le domaine du droit de la
                            famille, droit des finances.
                            Je me suis perfectionné dans l'élocution, dans la recherche, dans l'analyse et dans la
                            perseverence.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em"> 2018 - 2020</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Avocate</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">IN SITU AVOCATS</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">En charge de défendre
                            des clients
                            dans le domaine du droit de la
                            famille, droit des finances.
                            Je me suis perfectionné dans l'élocution, dans la recherche, dans l'analyse et dans la
                            perseverence.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2017 - 2018</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Avocate</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">CABINET BRAUNSTEIN & ASSOCIÉS</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">En charge de défendre
                            des clients
                            dans le domaine du droit de la
                            famille, droit des finances.
                            Je me suis perfectionné dans l'élocution, dans la recherche, dans l'analyse et dans la
                            perseverence.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2017</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em"> Élève Avocate</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">CABINET Me CHARLOTTE BALDASSARI</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Droit de la propriété
                            intellectuelle et des nouvelles technologies, droit de la propriété littéraire et
                            artistique, concurrence déloyale, droit économique</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2016</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Stage Élève Avocate</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">BLACK EUPHORIA</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Société de production
                            audiovisuelle</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2016</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Stage Élève Avocate</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">CABINET DANYELLE DIDIERLAURENT</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Cabinet en droit des
                            affaires, droit du travail, et droit de la famille.

                            (Rédaction de conclusions, d'actes juridiques,
                            Consultations,
                            Conseil juridique,
                            Modification de statuts, PV d'AGO / AGE)</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2014 - 2016</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Juriste propriété intellectuelle</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">SAAMP</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Rédaction de contrats
                            en droit des affaires,
                            Etablissement d'une politique de prévention de la contrefaçon,
                            Rédaction du projet de viabilité de la restructuration du Groupe,
                            Rédaction du règlement intérieur de l'entreprise,
                            Traite du contentieux porté sur le droit des dessins et modèles et le droit d'auteur</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2013 - 2014</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Stagiaire</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">CABINET PINT AVOCATS</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Propriété
                            intellectuelle et nouvelles technologies</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2013</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Agent de perception des droits d'auteur</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">SACD</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Stage - Perception et
                            facturation des droits d'auteur auprès de compagnies théâtrales présentes sur le festival
                            OFF d'Avignon et qui utilisent le répertoire d'auteurs membres de la SACD.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2013</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Documentaliste</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">SACD</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Stage: Service
                            documentation : recherches sur des auteurs et détermination des oeuvres qui tombent dans le
                            domaine public en 2013</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
</section>

<section class="section-holder">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 alignc">
            <span class="heading-subtitle">Compétences juridiques</span>
            <h2 class="section-heading-title">Compétences humaines</h2>
        </div>
    </div>
    <div class="container">
        <div class="row practice-items-holder-v2">
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="fas fa-truck"></i></div>
                    <h5 class="practice-title-v2">Esprit d'analyse</h5>
                    <div class="practice-excerpt">Dans la quantité importante d'informations, Je suis capable
                        d’identifier celles qui seront essentielles au dossier et à son issue positive.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="fas fa-hard-hat"></i></div>
                    <h5 class="practice-title-v2">Faire des recherches</h5>
                    <div class="practice-excerpt">Je suis Capable de réaliser une recherche claire et efficace pour
                        élaborer des stratégies juridiques intelligentes
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="far fa-building"></i></div>
                    <h5 class="practice-title-v2">Bon entregent</h5>
                    <div class="practice-excerpt">Pour présenter, rechercher et résoudre une affaire, pour obtenir des
                        indices et des preuves utiles pour agir en faveur de son client, j'ai développé des aptitudes en
                        relations interpersonnelles
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="far fa-chart-bar"></i></div>
                    <h5 class="practice-title-v2">Beaucoup de persévérance</h5>
                    <div class="practice-excerpt">Les affaires juridiques sont souvent délicates et la solution à un
                        problème n'est pas toujours facile à trouver. Ma patience et ma persévérance sont essentielles
                        pour la progression de l'affaire
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="far fa-money-bill-alt"></i></div>
                    <h5 class="practice-title-v2">Logique</h5>
                    <div class="practice-excerpt">La logique m'aide à porter des jugements raisonnables en fonction des
                        informations dont je dispose.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="far fa-meh"></i></div>
                    <h5 class="practice-title-v2">Qualités d'expression</h5>
                    <div class="practice-excerpt">Pour aider à renforcer ma position et gagner des procès, je peux faire
                        confiance à ma compétences rédactionnelle et d'orateur.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-v2">
                    <div class="practice-circle"><i class="fas fa-medkit"></i></div>
                    <h5 class="practice-title-v2">Soucieuse du client</h5>
                    <div class="practice-excerpt">Je m'occupe de mes clients avec beaucoup de soins et de
                        professionnalisme.
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>

<section class="parallax section-holder" style="background-image:url('static/images/blog/blog-7.jpg');">
    <div class="container parallax-content">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 alignc">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 alignc">
                        <span class="heading-subtitle">Activités</span>
                        <h2 class="section-heading-title">Formations</h2>

                    </div>
                </div>
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2012 -2013</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Master II, Droit de la propriété intellectuelle et des nouvelles technologies</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">UNIVERSITÉ PAUL CÉZANNE</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Apprentissage sur Vile diversitate homines aestimant vero Romae Romae qua extra vile coluntur potest nec Romae nec coluntur potest extra orbos potest.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2012 -2013</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Diplôme juriste conseil en entreprise (DJCE)</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">UNIVERSITÉ PAUL CÉZANNE</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Option propriété intellectuelle. Rluntur potest nec Romae nec coluntur potest extra orbos potest.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2011 -2012</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Master I, Droit des affaires</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">UNIVERSITÉ PAUL CÉZANNE</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Hoc Hoc ne quid et terram ad definit in amicitiam terram et aut est est amicitiam quae datorum nec ne.</p>
                    </div>
                </div>
                <hr style="opacity: 0.33">
                <div class="row  exp-item">
                    <div class="col-4">
                        <h6 style="line-height:1.8em;text-align:right;font-size:14px">
                            <span style="letter-spacing:0.25em">2008 -2011</span>
                        </h6>
                        <p class="lawyer-position" style="line-height:1.8em;text-align:right">
                            <span style="letter-spacing:0.2em">Licence, Droit</span>
                        </p>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 200 200" role="img">
                            <g>
                                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col-6">
                        <p style="line-height:1.8em;font-size:14px;text-align:left">
                            <span style="letter-spacing:0.2em">UNIVERSITÉ PAUL CÉZANNE</span>
                        </p>
                        <p class="text-justify info-act" style="line-height:1.8em;font-size:14px">Hoc Hoc ne quid et terram ad definit in amicitiam terram et aut est est amicitiam quae datorum nec ne.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- SECTION 3-->
<section class="section-holder">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 alignc">
                <span class="heading-subtitle">Témoignages</span>
                <h2 class="section-heading-title">Ce que les clients disent</h2>
            </div>
        </div>
        <!-- /row -->

        <div class="row" th:if="${comments.size() != 0}">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonials-container">
                    <div class="owl-carousel owl-theme testimonials-slider">
                        <div class="testimonial-item" th:each="comment : ${comments}">
                            <div class="testimonial-desc">
                                <i class="fas fa-quote-left"></i>
                                <h5 th:text="${comment.description}"></h5>
                            </div>
                            <div class="testimonial-client"><img src="images/testimonials/client-1.jpg"
                                                                 alt=""></div>
                            <div class="client-name" th:text="${comment.getCustomer().getFirstname()}+' '+${comment.getCustomer().getName()}"></div>

                        </div>
                    </div>
                </div>
                <!-- /testimonials-container -->
            </div>
        </div>
    </div>
    <!-- /container -->
</section>
<!-- /SECTION 3-->
</div>
<!-- /PAGE CONTENT -->
<!-- FOOTER -->
<footer id="footer-var2">
    <div id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">À propos</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en vous garantissant expertise juridique, rigueur et confidentialité dans le traitement de vos dossiers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Contact</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
                                <p>06.23.52.48.97<br> 09.86.20.55.30</p>
                                <p>mylenefernandez.avocat@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Liens utiles</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li> <a href="index">Accueil</a></li>
                                <li><a href="practice">Domaine d'activité</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="account">Espace client</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="footer-social alignc">
                <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
<!-- /FOOTER -->
<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
<!-- JS -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>
<script th:src="@{/css/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/fitvids.js}"></script>
<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- MAIN JS -->
<script th:src="@{/js/init.js}"></script>
<!-- CONTAT FORM JS -->
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/contactform.js}"></script>
</body>
</html>