<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <title>MFAvocat: Rendez-vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
          rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
          media='all'/>
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
          media='all'/>
    <!-- Owl Carousel -->
    <link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
          media='all'/>
    <!-- Main CSS File -->
    <link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
    <!-- favicons -->
    <link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
    <link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

    <!-- JS -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-migrate.min.js}"></script>
    <script th:src="@{/css/bootstrap/js/popper.js}"></script>
    <script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/easing.js}"></script>
    <script th:src="@{/js/fitvids.js}"></script>
    <script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
    <script th:src="@{/js/isotope.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- MAIN JS -->
    <script th:src="@{/js/init.js}"></script>
    <!-- CONTAT FORM JS -->
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
    <div class="modal-menu-container">
        <div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
        <ul class="menu-mobile">
            <li class="menu-item">
                <a th:href="@{/index}">Accueil</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/rdv}">Rendez-vous</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/aboutMe}">L'avocate</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/practice}">Domaine d'activité</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/faq}">FAQ</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/testimonials}">Témoignages</a>
            </li>
            <li class="menu-item menu-item-has-children  current-menu-item">
                <a th:href="@{/account}">Espace client</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                    <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                    <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                    <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                    <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                    <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                    <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu-contact">
        <ul>
            <li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
            <li></li>
            <li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
            <li></li>
            <li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
        </ul>
        <ul class="social-media">
            <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
    <div class="container">
        <div class="header-wrap header-wrap1">
            <div class="logo logo-1">
                <a th:href="@{/index}">
                    <img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
                </a>
            </div>
            <div class="header-contact">
                <div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
                </div>
                <div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
                    mylenefernandez.avocat@gmail.com
                </div>
            </div>
            <div class="nav-button-holder">
                <button type="button" class="nav-button"><span class="icon-bar"></span></button>
            </div>
        </div>
        <div class="nav-holder nav-holder-1">
            <ul class="menu-nav  menu-nav-1">
                <li class="menu-item">
                    <a th:href="@{/index}" >Accueil</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/rdv}">Rendez-vous</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/aboutMe}">L'avocate</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/practice}">Domaine d'activité</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/contact}">Contact</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/faq}">FAQ</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/testimonials}">Témoignage</a>
                </li>
                <li class="menu-item menu-item-has-children current-menu-item">
                    <a th:href="@{/account}">Espace client</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                        <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                        <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                        <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                        <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                        <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                        <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- /HEADER -->

<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url('static/images/top-bkgs/about.jpg');margin-bottom: 0px">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Vos rendez-vous</h1>
            <span class="post-subtitle page-subtitle">Retrouver ici l'ensemble des rendez-vous finis et à venir.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="menu-account col-md-3">
        <h5 class="white margin-b16" style="margin: 40px 0px 30px 0px">Espace Client</h5>
        <ul class="menu-account-list" style="margin-bottom:50px">
            <li><a th:href="@{/rdv}">Prendre un rendez-vous</a></li>
            <li class="current-menu-item"><a th:href="@{/appointments}">Consulter ses rendez-vous</a></li>
<!--            <li><a th:href="@{/folder}">Accéder au dossier</a></li>-->
<!--            <li><a th:href="@{/transmit}">Transmettre un document</a></li>-->
            <li><a th:href="@{/bills}">Consulter ses factures</a></li>
            <li><a th:href="@{/message}">Envoyer un message</a></li>
            <li><a th:href="@{/accountInformation}">Information du compte</a></li>
        </ul>
    </div>
    <section class="section-holder col-md-9" style="margin-top: 30px">
        <th:block th:if="${taskNotPassed.size() > 0}">
        <div class="row">
            <div class="col-lg-8 aligncenter">
                <span class="heading-subtitle">Rendez-vous à venir</span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Avocat</th>
                <th scope="col">Raison</th>
                <th scope="col">Type</th>
                <th scope="col">Lien</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task:${taskNotPassed}">
                <td th:text="${task.date}+' - '+${task.hour}+'h00'"></td>
                <td th:text="${task.lawyer.firstname}+' '+${task.lawyer.name}"></td>
                <td>
                    <th:block th:if="${task.reason == task.reason.DIVORCE}" th:text="Divorce"></th:block>
                    <th:block th:if="${task.reason == task.reason.ADVICE}" th:text="Conseil"></th:block>
                    <th:block th:if="${task.reason == task.reason.SUCCESSION}" th:text="Succession"></th:block>
                    <th:block th:if="${task.reason == task.reason.CRIMINAL}" th:text="'Affaire criminel'"></th:block>
                    <th:block th:if="${task.reason == task.reason.FAMILY}" th:text="Famille"></th:block>
                    <th:block th:if="${task.reason == task.reason.CHILD_CARE}" th:text="'Protection de l\'enfance'"></th:block>
                    <th:block th:if="${task.reason == task.reason.ALIMONY}" th:text="Pension"></th:block>
                    <th:block th:if="${task.reason == task.reason.CONSTRUCTION}" th:text="Construction"></th:block>
                    <th:block th:if="${task.reason == task.reason.INTELLECTUAL_PROPERTY}" th:text="'Propriété intellectuel'"></th:block>
                    <th:block th:if="${task.reason == task.reason.OTHER}" th:text="Autre"></th:block>
                </td>
                <td><th:block th:if="${task.visio == false}" th:text="Présentiel"></th:block>
                    <th:block th:if="${task.visio == true}" th:text="Visio-conférence"></th:block> </td>
                <td><a th:href="@{'/appointment/'+${task.id}}">Consulter</a> </td>
            </tr>
            </tbody>
        </table>
        </th:block>
        <th:block th:if="${taskPassed.size() > 0}">
        <div class="row">
            <div class="col-lg-8 aligncenter">
                <span class="heading-subtitle">Rendez-vous fini</span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Avocat</th>
                <th scope="col">Raison</th>
                <th scope="col">Type</th>
                <th scope="col">Lien</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task:${taskPassed}">
                <td th:text="${task.date}+' - '+${task.hour}+'h00'"></td>
                <td th:text="${task.lawyer.firstname}+' '+${task.lawyer.name}"></td>
                <td><th:block th:if="${task.reason == task.reason.DIVORCE}" th:text="Divorce"></th:block>
                    <th:block th:if="${task.reason == task.reason.ADVICE}" th:text="Conseil"></th:block>
                    <th:block th:if="${task.reason == task.reason.SUCCESSION}" th:text="Succession"></th:block>
                    <th:block th:if="${task.reason == task.reason.CRIMINAL}" th:text="'Affaire criminel'"></th:block>
                    <th:block th:if="${task.reason == task.reason.FAMILY}" th:text="Famille"></th:block>
                    <th:block th:if="${task.reason == task.reason.CHILD_CARE}" th:text="'Protection de l\'enfance'"></th:block>
                    <th:block th:if="${task.reason == task.reason.ALIMONY}" th:text="Pension"></th:block>
                    <th:block th:if="${task.reason == task.reason.CONSTRUCTION}" th:text="Construction"></th:block>
                    <th:block th:if="${task.reason == task.reason.INTELLECTUAL_PROPERTY}" th:text="'Propriété intellectuel'"></th:block>
                    <th:block th:if="${task.reason == task.reason.OTHER}" th:text="Autre"></th:block>
                </td>

                <td><th:block th:if="${task.visio == false}" th:text="Présentiel"></th:block>
                    <th:block th:if="${task.visio == true}" th:text="Visio-conférence"></th:block> </td>
                <td><a th:href="@{'/appointment/'+${task.id}}">Consulter</a> </td>
            </tr>
            </tbody>
        </table>
        </th:block>
        <th:block th:if="${taskNotAccepted.size() > 0}">
        <div class="row">
            <div class="col-lg-8 aligncenter">
                <span class="heading-subtitle">Rendez-vous en attente d'acceptation</span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Avocat</th>
                <th scope="col">Raison</th>
                <th scope="col">Type</th>
                <th scope="col">Lien</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task:${taskNotAccepted}">
                <td th:text="${task.date}+' - '+${task.hour}+'h00'"></td>
                <td th:text="${task.lawyer.firstname}+' '+${task.lawyer.name}"></td>
                <td><th:block th:if="${task.reason == task.reason.DIVORCE}" th:text="Divorce"></th:block>
                    <th:block th:if="${task.reason == task.reason.ADVICE}" th:text="Conseil"></th:block>
                    <th:block th:if="${task.reason == task.reason.SUCCESSION}" th:text="Succession"></th:block>
                    <th:block th:if="${task.reason == task.reason.CRIMINAL}" th:text="'Affaire criminel'"></th:block>
                    <th:block th:if="${task.reason == task.reason.FAMILY}" th:text="Famille"></th:block>
                    <th:block th:if="${task.reason == task.reason.CHILD_CARE}" th:text="'Protection de l\'enfance'"></th:block>
                    <th:block th:if="${task.reason == task.reason.ALIMONY}" th:text="Pension"></th:block>
                    <th:block th:if="${task.reason == task.reason.CONSTRUCTION}" th:text="Construction"></th:block>
                    <th:block th:if="${task.reason == task.reason.INTELLECTUAL_PROPERTY}" th:text="'Propriété intellectuel'"></th:block>
                    <th:block th:if="${task.reason == task.reason.OTHER}" th:text="Autre"></th:block>
                </td>

                <td><th:block th:if="${task.visio == false}" th:text="Présentiel"></th:block>
                    <th:block th:if="${task.visio == true}" th:text="Visio-conférence"></th:block> </td>
                <td><a th:href="@{'/appointment/'+${task.id}}">Consulter</a> </td>
            </tr>
            </tbody>
        </table>
        </th:block>
    </section>
</div>
<!-- /TOP IMAGE -->
<!-- /PAGE CONTENT -->
<!-- FOOTER -->
<footer id="footer-var2" style="margin-top:0px">
    <div id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">À propos</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en vous garantissant expertise juridique, rigueur et confidentialité dans le traitement de vos dossiers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Contact</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
                                <p>06.23.52.48.97<br> 09.86.20.55.30</p>
                                <p>mylenefernandez.avocat@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Liens utiles</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li> <a href="index">Accueil</a></li>
                                <li><a href="practice">Domaine d'activité</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="account">Espace client</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="footer-social alignc">
                <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
<!-- /FOOTER -->
<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
<!-- JS -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>
<script th:src="@{/css/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/fitvids.js}"></script>
<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- MAIN JS -->
<script th:src="@{/js/init.js}"></script>
<!-- CONTAT FORM JS -->
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/contactform.js}"></script>
</body>
</html>