<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <title>MFAvocat: Rendez-vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
          rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
          media='all'/>
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
          media='all'/>
    <!-- Owl Carousel -->
    <link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
          media='all'/>
    <!-- Main CSS File -->
    <link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
    <!-- favicons -->
    <link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
    <link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

    <!-- JS -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-migrate.min.js}"></script>
    <script th:src="@{/css/bootstrap/js/popper.js}"></script>
    <script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/easing.js}"></script>
    <script th:src="@{/js/fitvids.js}"></script>
    <script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
    <script th:src="@{/js/isotope.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- MAIN JS -->
    <script th:src="@{/js/init.js}"></script>
    <!-- CONTAT FORM JS -->
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
    <div class="modal-menu-container">
        <div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
        <ul class="menu-mobile">
            <li class="menu-item">
                <a th:href="@{/index}">Accueil</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/rdv}">Rendez-vous</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/aboutMe}">L'avocate</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/practice}">Domaine d'activité</a>
            </li>
            <li class="menu-item current-menu-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/faq}">FAQ</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/testimonials}">Témoignages</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a th:href="@{/account}">Espace client</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                    <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                    <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                    <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                    <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                    <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                    <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu-contact">
        <ul>
            <li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
            <li></li>
            <li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
            <li></li>
            <li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
        </ul>
        <ul class="social-media">
            <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
    <div class="container">
        <div class="header-wrap header-wrap1">
            <div class="logo logo-1">
                <a th:href="@{/index}">
                    <img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
                </a>
            </div>
            <div class="header-contact">
                <div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
                </div>
                <div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
                    mylenefernandez.avocat@gmail.com
                </div>
            </div>
            <div class="nav-button-holder">
                <button type="button" class="nav-button"><span class="icon-bar"></span></button>
            </div>
        </div>
        <div class="nav-holder nav-holder-1">
            <ul class="menu-nav  menu-nav-1">
                <li class="menu-item">
                    <a th:href="@{/index}" >Accueil</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/rdv}">Rendez-vous</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/aboutMe}">L'avocate</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/practice}">Domaine d'activité</a>
                </li>
                <li class="menu-item current-menu-item">
                    <a th:href="@{/contact}">Contact</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/faq}">FAQ</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/testimonials}">Témoignage</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a th:href="@{/account}">Espace client</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                        <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                        <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                        <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                        <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                        <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                        <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- /HEADER -->
<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url('static/images/top-bkgs/contact.jpg');">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Contact</h1>
            <span class="post-subtitle page-subtitle">Appelez-nous aujourd'hui 06.23.52.48.97</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder" style="margin-bottom: 15px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h3 class="margin-b16">Adresse:</h3>
                    <p>53 rue Chanzy, 13300 Salon de Provence</p>
                    <hr/>
                    <h3 class="margin-b16">Téléphone:</h3>
                    <p>06.23.52.48.97 - 09.86.20.55.30</p>
                    <hr/>
                    <h3 class="margin-b16">Horaires du cabinet:</h3>
                    <p>Lundi - Vendredi: 8h - 17h</p>
                </div>
                <div class="col-lg-7">
                    <h2 class="section-heading-title margin-b16">Prendre contact</h2>
                    <p>At has mollis audire inermis, vim ex alia equidem platonem, pri eius mutat interesset ei. In
                        minim affert eam, cetero legimus moderatius has at. Te has utroque patrioque vituperata, case
                        eligendi</p>
                    <div id="contact-form-holder">
                        <form method="post" action="#" th:action="@{/contactCheck}" th:object="${contact}">
                            <div class="row">
                                <div class="col-lg-4 margin-b32">
                                    <input type="text" name="name" class="comm-field" placeholder="Nom" th:field="*{name}"/>
                                    <div th:if="${contactFormCheck.isNameSize()}">
                                        <p th:if="${contactFormCheck.isNameEmpty()}" class="text-danger">Le champ Nom est obligatoire.</p>
                                        <p th:unless="${contactFormCheck.isNameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 margin-b32">
                                    <input type="text" name="email" class="comm-field" placeholder="Email" th:field="*{mail}"/>
                                    <div th:if="${contactFormCheck.isMailSize()}">
                                        <p th:if="${contactFormCheck.isMailEmpty()}" class="text-danger">Le champ Mail est obligatoire.</p>
                                        <p th:unless="${contactFormCheck.isMailEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 margin-b32">
                                    <input type="text" name="subject" class="comm-field" placeholder="Sujet" th:field="*{subject}"/>
                                    <div th:if="${contactFormCheck.isSubjectSize()}">
                                        <p th:if="${contactFormCheck.isSubjectEmpty()}" class="text-danger">Le champ sujet est obligatoire.</p>
                                        <p th:unless="${contactFormCheck.isSubjectEmpty()}" class="text-danger">Attention! Le sujet doit être compris entre 3 à 100 caractères.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-b32">
                                <textarea name="message" id="msg-contact" rows="5" placeholder="Message" th:field="*{message}"></textarea>
                                <div th:if="${contactFormCheck.isMessageSize()}">
                                    <p th:if="${contactFormCheck.isMessageEmpty()}" class="text-danger">Le champ Message est obligatoire.</p>
                                    <p th:unless="${contactFormCheck.isMessageEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 1000 caractères.</p>
                                </div>
                            </div>
                            <p class="antispam">Leave this empty: <input type="text" name="url"/></p>
                            <p><input type="submit" value="Envoyer un message" id="submit"/></p>
                        </form>
                    </div>
                    <!-- contact-form-holder-->
                    <div id="output-contact"></div>
                </div>
                <!-- /col-lg-7-->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->

    <!-- SECTION 2-->
    <section>
        <div class="container">
            <div class="gmaps">
                <iframe width="1080" height="300" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=53%20rue%20Chanzy,%2013300%20Salon%20de%20Provence&t=&z=15&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://putlocker-is.org"></a><a href="https://www.embedgooglemap.net"></a>
            </div>
        </div>
    </section>
    <!-- /SECTION 2-->
	<section class="section-holder  parallax section-holder" style="margin-top: 80px">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 alignc">
					<h2 class="section-heading-title white">Vous préférez prendre rendez-vous?</h2>
					<div class="view-more alignc margin-t72"><a href="rdv">Prendre un rendez-vous</a></div>
				</div>
			</div>
		</div>
	</section>
</div><!-- /PAGE CONTENT -->
<!-- FOOTER -->
<footer id="footer-var2">
    <div id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">À propos</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en
                                    vous garantissant expertise juridique, rigueur et confidentialité dans le traitement
                                    de vos dossiers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Contact</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
                                <p>06.23.52.48.97<br> 09.86.20.55.30</p>
                                <p>mylenefernandez.avocat@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Liens utiles</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li><a href="index">Accueil</a></li>
                                <li><a href="practice">Domaine d'activité</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="account">Espace client</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="footer-social alignc">
                <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
<!-- /FOOTER -->
<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
<!-- JS -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>
<script th:src="@{/css/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/fitvids.js}"></script>
<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- MAIN JS -->
<script th:src="@{/js/init.js}"></script>
<!-- CONTAT FORM JS -->
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/contactform.js}"></script>
</body>
</html>