<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

	<meta charset="utf-8">
	<title>MFAvocat: Rendez-vous</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noodp"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
		  rel='stylesheet' type='text/css'>
	<!-- Bootstrap CSS -->
	<link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
		  media='all'/>
	<!-- Font Awesome Icons CSS -->
	<link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
		  media='all'/>
	<!-- Owl Carousel -->
	<link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
		  media='all'/>
	<!-- Main CSS File -->
	<link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
	<!-- favicons -->
	<link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
	<link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
	<link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
	<link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

	<!-- JS -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/jquery-migrate.min.js}"></script>
	<script th:src="@{/css/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/easing.js}"></script>
	<script th:src="@{/js/fitvids.js}"></script>
	<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/isotope.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<!-- MAIN JS -->
	<script th:src="@{/js/init.js}"></script>
	<!-- CONTAT FORM JS -->
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
	<div class="modal-menu-container">
		<div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
		<ul class="menu-mobile">
			<li class="menu-item">
				<a th:href="@{/index}">Accueil</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/rdv}">Rendez-vous</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/aboutMe}">L'avocate</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/practice}">Domaine d'activité</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/contact}">Contact</a>
			</li>
			<li class="menu-item current-menu-item">
				<a th:href="@{/faq}">FAQ</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/testimonials}">Témoignages</a>
			</li>
			<li class="menu-item menu-item-has-children">
				<a th:href="@{/account}">Espace client</a>
				<ul class="sub-menu">
					<li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--					<li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--					<li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
					<li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
					<li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
					<li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
					<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
					<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
					<li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="menu-contact">
		<ul>
			<li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
			<li></li>
			<li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
			<li></li>
			<li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
		</ul>
		<ul class="social-media">
			<li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			<li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
		</ul>
	</div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
	<div class="container">
		<div class="header-wrap header-wrap1">
			<div class="logo logo-1">
				<a th:href="@{/index}">
					<img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
				</a>
			</div>
			<div class="header-contact">
				<div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
				</div>
				<div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
					mylenefernandez.avocat@gmail.com
				</div>
			</div>
			<div class="nav-button-holder">
				<button type="button" class="nav-button"><span class="icon-bar"></span></button>
			</div>
		</div>
		<div class="nav-holder nav-holder-1">
			<ul class="menu-nav  menu-nav-1">
				<li class="menu-item">
					<a th:href="@{/index}" >Accueil</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/rdv}">Rendez-vous</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/aboutMe}">L'avocate</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/practice}">Domaine d'activité</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/contact}">Contact</a>
				</li>
				<li class="menu-item current-menu-item">
					<a th:href="@{/faq}">FAQ</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/testimonials}">Témoignage</a>
				</li>
				<li class="menu-item menu-item-has-children">
					<a th:href="@{/account}">Espace client</a>
					<ul class="sub-menu">
						<li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--						<li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--						<li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
						<li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
						<li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
						<li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
						<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
						<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
						<li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>
	<!-- /HEADER -->
		<!-- TOP IMAGE -->
		<div class="page-head " style="background-image:url('static/images/top-bkgs/about.jpg');">
			<div class="inner-desc">
				<div class="container">
					<h1 class="page-title">FAQ</h1>
					<span class="post-subtitle page-subtitle">Questions / Réponses</span>
				</div>
			</div>
		</div>
		<!-- /TOP IMAGE -->
		<!-- PAGE CONTENT -->
		<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
		<!-- SECTION 1-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 margin-bm54">
						<span class="heading-subtitle">FAQ</span>
						<h2 class="section-heading-title margin-b16">Notre métier est d'aider nos clients à résoudre des problèmes juridiques.</h2>
						<p>Lorem ipsum dolor sit amet, ut eius periculis eos, eu mea suscipit intellegam. Tota consequuntur cu pro, congue efficiantur eos id. Ius in percipit recusabo. Has ex agam audire, id dicat dolores.</p>
						<ul class="faq-list">
							<li>
								<h5 class="faq-title"><a href="#faq1">Pourquoi notre cabinet d'avocats?</a></h5>
								<div id="faq1" class="faq-section">
									<p>Lorem ipsum dolor sit amet, mea in tacimates electram. Diam facilis cum ei, ei novum accusamus scribentur per. Ei agam necessitatibus ius. Ius ei dolorem constituto. Vel sale repudiandae no, harum putent vivendum ne ius. Quo ex unum iisque. </p>
								</div>
							</li>
							<li>
								<h5 class="faq-title"><a href="#faq2">Comment ça marche?</a></h5>
								<div id="faq2" class="faq-section">
									<p>Sale vivendum senserit an eum, ubique noster ex pro, at vel accommodare ullamcorper. Cu duo minim vocibus menandri, at omittam voluptatum usu. Fabulas docendi iracundia ex cum, viris putant dissentiunt ex cum. Id vim tale mutat, eu vide velit oporteat pri. Mollis vidisse saperet. </p>
								</div>
							</li>
							<li>
								<h5 class="faq-title"><a href="#faq3">La première consultation est-elle gratuite?</a></h5>
								<div id="faq3" class="faq-section">
									<p>Eam ei suscipit partiendo, nam modus vocibus cotidieque eu, semper apeirian laboramus sit ne. Qui apeirian tacimates at, has errem possim an, eligendi pericula delicatissimi per ad. At pro essent aliquip qualisque, vis splendide posidonium ex. Nec et error quodsi deleniti. Dicit nobis latine qui an, per duis summo impetus an, eam ne perfecto intellegat persequeris.  </p>
								</div>
							</li>
							<li>
								<h5 class="faq-title"><a href="#faq4">Comment pouvons nous aider?</a></h5>
								<div id="faq4" class="faq-section">
									<p>In cibo aperiri evertitur vis, sit autem facete cotidieque cu, omnesque voluptua voluptatibus mea ut. Cum ea omnes percipitur cotidieque, propriae suavitate te qui, laudem voluptatibus ne ius. Ut eam lorem consul. Eam bonorum percipit explicari in, efficiendi scripserit ex sed. Usu soluta integre fastidii eu. Et mei ipsum sensibus delicata, ius eu choro solet denique. Populo facilisi. </p>
								</div>
							</li>
							<li>
								<h5 class="faq-title"><a href="#faq5">Comment prendre rendez vous?</a></h5>
								<div id="faq5" class="faq-section">
									<p class="faq-p">Divers méthodes sont proposés:</p>
									<ul>
										<li class="faq-list">1- En sélectionnant "prendre un rendez-vous" dans le menu principal.</li>
										<li class="faq-list">2- En vous rendant, dans votre espace client, puis sélectionner "prendre un rendez-vous".</li>
										<li class="faq-list">3- En cliquant sur le lien suivant "<a href="rdv" class="heading-subtitle">Prendre un rendez-vous</a>".</li>
									</ul>
									<p>Prérequis : Vous devez posséder un compte, ou vous en créer un, en cliquant sur "<a href="register" class="heading-subtitle">Créer un compte client</a>".</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<img class="img-fluid margin-b16" src="images/cases/case-2.jpg" alt="">
						<img class="img-fluid" src="images/cases/case-5.jpg" alt="">
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->	
		</section>
		<!-- /SECTION 1-->	
		<!-- SECTION 2-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 alignc">
						<span class="heading-subtitle">Vous avez une question?</span>
						<h2 class="section-heading-title">Contactez nos experts</h2>
					</div>
					<div class="col-lg-12">
						<div id="contact-form-holder">
							<form method="post" action="#" th:action="@{/contactCheck}" th:object="${contact}">
								<div class="row">
									<div class="col-lg-4 margin-b32"><input type="text" name="name" class="comm-field" placeholder="Nom" th:field="*{name}"/></div>
									<div class="col-lg-4 margin-b32"><input type="text" name="email" class="comm-field" placeholder="Email" th:field="*{mail}"/> </div>
									<div class="col-lg-4 margin-b32"><input type="text" name="subject" class="comm-field" placeholder="Sujet" th:field="*{subject}"/> </div>
								</div>
								<div class="margin-b32"><textarea name="message" id="msg-contact" rows="5" placeholder="Message" th:field="*{message}"></textarea></div>
								<p class="antispam">Leave this empty: <input type="text" name="url" /></p>
								<p><input type="submit" value="Envoyez un message" id="submit"/></p>
							</form>
						</div>
						<!-- contact-form-holder-->
						<div id="output-contact"></div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</section>
		<!-- /SECTION 2-->
		
		</div>
		<!-- /PAGE CONTENT -->
		<!-- FOOTER -->
	<footer id="footer-var2">
		<div id="footer-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="foo-block">
							<h5 class="widgettitle">À propos</h5>
							<div class="textwidget">
								<div class="textwidget">
									<p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en vous garantissant expertise juridique, rigueur et confidentialité dans le traitement de vos dossiers.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="foo-block">
							<h5 class="widgettitle">Contact</h5>
							<div class="textwidget">
								<div class="textwidget">
									<p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
									<p>06.23.52.48.97<br> 09.86.20.55.30</p>
									<p>mylenefernandez.avocat@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="foo-block">
							<h5 class="widgettitle">Liens Utiles</h5>
							<div class="textwidget custom-html-widget">
								<ul>
									<li> <a href="index">Accueil</a></li>
									<li><a href="practice">Domaine d'activité</a></li>
									<li><a href="contact">Contact</a></li>
									<li><a href="account">Espace client</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<ul class="footer-social alignc">
					<li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
					<li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
				</ul>
				<div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
			</div>
		</div>
	</footer>
		<!-- /FOOTER -->
<!-- /FOOTER -->
<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
<!-- JS -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>
<script th:src="@{/css/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/fitvids.js}"></script>
<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- MAIN JS -->
<script th:src="@{/js/init.js}"></script>
<!-- CONTAT FORM JS -->
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/contactform.js}"></script>
	</body>
</html>