<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

	<meta charset="utf-8">
	<title>MFAvocat: Rendez-vous</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noodp"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
		  rel='stylesheet' type='text/css'>
	<!-- Bootstrap CSS -->
	<link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
		  media='all'/>
	<!-- Font Awesome Icons CSS -->
	<link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
		  media='all'/>
	<!-- Owl Carousel -->
	<link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
		  media='all'/>
	<!-- Main CSS File -->
	<link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
	<!-- favicons -->
	<link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
	<link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
	<link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
	<link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

	<!-- JS -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/jquery-migrate.min.js}"></script>
	<script th:src="@{/css/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/easing.js}"></script>
	<script th:src="@{/js/fitvids.js}"></script>
	<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/isotope.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<!-- MAIN JS -->
	<script th:src="@{/js/init.js}"></script>
	<!-- CONTAT FORM JS -->
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
	<div class="modal-menu-container">
		<div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
		<ul class="menu-mobile">
			<li class="menu-item  current-menu-item">
				<a th:href="@{/index}">Accueil</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/rdv}">Rendez-vous</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/aboutMe}">L'avocate</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/practice}">Domaine d'activité</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/contact}">Contact</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/faq}">FAQ</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/testimonials}">Témoignages</a>
			</li>
			<li class="menu-item menu-item-has-children">
				<a th:href="@{/account}">Espace client</a>
				<ul class="sub-menu">
					<li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--					<li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--					<li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
					<li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
					<li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
					<li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
					<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
					<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
					<li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="menu-contact">
		<ul>
			<li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
			<li></li>
			<li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
			<li></li>
			<li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
		</ul>
		<ul class="social-media">
			<li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			<li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
		</ul>
	</div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
	<div class="container">
		<div class="header-wrap header-wrap1">
			<div class="logo logo-1">
				<a th:href="@{/index}">
					<img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
				</a>
			</div>
			<div class="header-contact">
				<div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
				</div>
				<div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
					mylenefernandez.avocat@gmail.com
				</div>
			</div>
			<div class="nav-button-holder">
				<button type="button" class="nav-button"><span class="icon-bar"></span></button>
			</div>
		</div>
		<div class="nav-holder nav-holder-1">
			<ul class="menu-nav  menu-nav-1">
				<li class="menu-item current-menu-item">
					<a th:href="@{/index}" >Accueil</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/rdv}">Rendez-vous</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/aboutMe}">L'avocate</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/practice}">Domaine d'activité</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/contact}">Contact</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/faq}">FAQ</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/testimonials}">Témoignage</a>
				</li>
				<li class="menu-item menu-item-has-children">
					<a th:href="@{/account}">Espace client</a>
					<ul class="sub-menu">
						<li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--						<li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--						<li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
						<li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
						<li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
						<li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
						<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
						<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
						<li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>
	<!-- /HEADER -->
		<!-- HOME SLIDER -->
		<div class="slider-container">
			<div class="owl-carousel owl-theme home-slider">
				<div class="slider-post slider-item-box">
					<img class="img-fluid" src="images/home/slider-1.jpg" alt="">
					<div class="slider-caption">
						<div class="slider-text">
							<h2>Je fournis une<br>aide juridique liée</h2>
							<h4>au droit de la famille</h4>
							<a class="btn-white" href="practice-image-3-cols">En Savoir Plus</a>
						</div>
					</div>
				</div>
				<div class="slider-post slider-item-box">
					<img class="img-fluid" src="images/home/slider-2.jpg" alt="">
					<div class="slider-caption">
						<div class="slider-text">
							<h2>Je fournis une<br>aide juridique liée</h2>
							<h4>au droit pénal</h4>
							<a class="btn-white" href="practice-image-3-cols">En Savoir Plus</a>
						</div>
					</div>
				</div>
				<div class="slider-post slider-item-box">
					<img class="img-fluid" src="images/home/slider-3.jpg" alt="">
					<div class="slider-caption">
						<div class="slider-text">
							<h2>Je fournis une<br>aide juridique liée</h2>
							<h4>au droit immobilier et construction</h4>
							<a class="btn-white" href="practice-image-3-cols">En Savoir Plus</a>
						</div>
					</div>
				</div>
				<div class="slider-post slider-item-box">
					<img class="img-fluid" src="images/home/slider-4.jpg" alt="">
					<div class="slider-caption">
						<div class="slider-text">
							<h2>Je fournis une<br>aide juridique liée</h2>
							<h4>droit de la propriété intellectuelle</h4>
							<a class="btn-white" href="practice-image-3-cols">En Savoir Plus</a>
						</div>
					</div>
				</div>
				<div class="slider-post slider-item-box">
					<img class="img-fluid" src="images/home/slider-5.png" alt="">
					<div class="slider-caption">
						<div class="slider-text">
							<h2>Je fournis une<br>aide juridique liée</h2>
							<h4>au droit du travail</h4>
							<a class="btn-white" href="practice-image-3-cols">En Savoir Plus</a>
						</div>
					</div>
				</div>
				<div class="slider-post slider-item-box">
					<img class="img-fluid" src="images/home/slider-5.png" alt="">
					<div class="slider-caption">
						<div class="slider-text">
							<h2>Je fournis une<br>aide juridique liée</h2>
							<h4>au droit des contrats</h4>
							<a class="btn-white" href="practice-image-3-cols">En Savoir Plus</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /HOME SLIDER -->
		<!-- PAGE CONTENT -->
		<div class="page-holder custom-page-template page-full fullscreen-page home-page-content clearfix">
		<!-- SECTION 1-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="intro-msg margin-b108">
							<div class="intro-normal">Le site web permet de faciliter</div>
							<div class="intro-2"><span class="intro-small-italic">la </span> <span class="intro-big-italic">Prise de Rendez-Vous</span></div>
							<div class="intro-year">en ligne</div>
							<div class="view-more alignc margin-t72"><a href="rdv">Prendre un rendez-vous</a></div>
						</div>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-lg-4 margin-bm32">
						<p><span class="dropcap">M</span>ylène Fernandez Avocat vous propose son expertise juridique dans tous les domaines du droit et plus particulièrement le droit de la famille et des divorces, le droit civil, le droit des victimes ainsi que le droit pénal.</div>
					<div class="col-lg-4 margin-bm32">
						<p>Notre cabinet d'Avocats a ouvert ses portes à Salon de Provence il y a plus de 2 ans et suit tous types de dossiers, du divorce par consentement mutuel aux dossiers plus complexes comme par exemple la décapitation de Nick Quasi-sans-tête.</div>
					<div class="col-lg-4">
						<p>Notre mission et nos honoraires sont clairement définis lors du premier rendez-vous afin de vous délivrer l'information la plus complète possible. Le premier rendez-vous ne vous engage pas à lancer de procédure mais vous permettra d'obtenir tous les renseignements souhaités...</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</section>
		<!-- /SECTION 1-->
		<!-- SECTION 2-->
		<section class="section-holder">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img class="img-fluid" src="images/home/office-1-1.jpg" alt=""/>
				</div>
				<div class="col-md-6">
					<img class="img-fluid" src="images/home/office-2-1.jpg" alt=""/>
				</div>
			</div>
			<!-- /row -->
		</section>
		<!-- /SECTION 2-->
		<!-- SECTION 3-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 alignc">
						<span class="heading-subtitle">Aide Juridique</span>
						<h2 class="section-heading-title">Domaines de pratique</h2>
					</div>
				</div>
				<!-- /row -->
				<div class="row practice-items-holder">
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="fas fa-truck"></i></div>
								<h3 class="practice-title">Accident de la route</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="fas fa-hard-hat"></i></div>
								<h3 class="practice-title">Prêt à la construction</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="far fa-building"></i></div>
								<h3 class="practice-title">Immobiliers</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="far fa-chart-bar"></i></div>
								<h3 class="practice-title">Loi des finances</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="far fa-money-bill-alt"></i></div>
								<h3 class="practice-title">Problème fiscal</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="far fa-meh"></i></div>
								<h3 class="practice-title">Abus sur mineur</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="fas fa-medkit"></i></div>
								<h3 class="practice-title">Santé</h3>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3 practice-item-4cols">
						<a href="practiceSinglePage">
							<div class="practice-item">
								<div class="practice-icon"><i class="fas fa-heart-broken"></i></div>
								<h3 class="practice-title">Divorce</h3>
							</div>
						</a>
					</div>
				</div>
				<!-- /row -->
				<div class="view-more alignc margin-t72"><a href="practice">Voir plus</a></div>
			</div>
			<!-- /container -->	
		</section>
		<!-- /SECTION 3-->
		<!-- SECTION 4-->
		<section class="parallax section-holder" style="background-image:url('static/images/home/home-bkg-1.jpg');">
			<div class="container parallax-content">
				<div class="row">
					<div class="col-lg-8">
						<span class="heading-subtitle white">Aide Juridique</span>
						<h2 class="section-heading-title">Pourquoi me choisir?</h2>
					</div>
				</div>
				<!-- /row -->
				<div class="row margin-b72">
					<div class="col-lg-6 margin-bm32">
						<p>Lorem ipsum dolor sit amet, debet dolore consectetuer eum eu, has no dicta munere gloriatur. Ea ubique atomorum nec. At eam phaedrum oportere. Mei brute primis omnium at, ius odio suscipit honestatis ut, dissentias dissentiet et usu. Sed errem noluisse comprehensam ei, eum no eripuit deserunt laboramus, te sea mentitum. </p>
					</div>
					<div class="col-lg-6">
						<p>Harum saperet, ius paulo noluisse dignissim eu. Inimicus scripserit accommodare has ei, cum ut aliquam delicata. Ipsum etiam sit ad, salutatus tincidunt signiferumque in has, an mea vocent delicata. Eos enim dictas invenire ex. Amet eius cu vim, admodum mandamus imperdiet pro an, ei lorem tincidunt.</p>
					</div>
				</div>
				<!-- /row -->
				<div class="row alignc">
					<div class="col-sm-6 col-lg-3 margin-bm32">
						<div class="facts-title">10k</div>
						<p class="pcolor">Global Customers</p>
					</div>
					<div class="col-sm-6 col-lg-3 margin-bm32">
						<div class="facts-title">30</div>
						<p class="pcolor">Years of Experience</p>
					</div>
					<div class="col-sm-6 col-lg-3 margin-bm32">
						<div class="facts-title">24</div>
						<p class="pcolor">Team Experts</p>
					</div>
					<div class="col-sm-6 col-lg-3 margin-bm32">
						<div class="facts-title">17</div>
						<p class="pcolor">Awards & Honors</p>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</section>
		<!-- /SECTION 4-->
		<!-- SECTION 5-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 alignc">
						<span class="heading-subtitle">Avocat</span>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6">
						<div class="lawyer-holder lawyer-3col">
							<a href="about-me"><img src="images/team/test.jpg" class="img-fluid" alt="Responsive image"></a>
							<div class="lawyer-position">Dirigeant</div>
							<h2 class="lawyer-title"><a href="about-me">Mylène Fernandez</a></h2>
							<div class="lawyer-excerpt">Avocate installée à Salon-de-Provence, Maître FERNANDEZ intervient auprès de toutes les juridictions du ressort de la Cour d'appel d'Aix-en-Provence.<ul class="lawyer-social">
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="mailto:mylenefernandez.avocat@gmail.com" target="_blank"><i class="far fa-envelope"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			<!-- /container -->	
		</section>
		<!-- /SECTION 5-->	
		<!-- SECTION 6-->
		<section class="no-parallax section-holder section-home16">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="testimonials-container">
							<div class="owl-carousel owl-theme testimonials-slider">
								<div class="testimonial-item" th:each="comment : ${comments}">
									<div class="testimonial-desc">
										<i class="fas fa-quote-left"></i>
										<h5 th:text="${comment.description}"></h5>
									</div>
									<div class="testimonial-client"><img src="images/testimonials/client-1.jpg"
																		 alt=""></div>
									<div class="client-name" th:text="${comment.getCustomer().getFirstname()}+' '+${comment.getCustomer().getName()}"></div>

								</div>
							</div>
						</div>
						<!-- /testimonials-container -->
					</div>
				</div>
			</div>
			<!-- /container -->
		</section>
		<!-- /SECTION 6-->
		<!-- SECTION 8-->
		<section class="parallax section-holder" style="background-image:url('static/images/blog/blog-7.jpg');">
			<div class="container parallax-content">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 alignc">
						<span class="heading-subtitle white">Rendez-vous</span>
						<h2 class="margin-b16">Vous voulez prendre un rendez-vous au plus vite?</h2>
						<p>Notre espace client permet en quelques clics de planifier un rendez-vous selon vos disponibilités et le plus rapidement possible !</p>
						<div class="view-more view-more-white margin-t54 alignc"><a href="rdv">Prendre un Rendez-Vous</a></div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</section>
		<!-- /SECTION 8-->
		<!-- SECTION 9-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 margin-bm54">
						<span class="heading-subtitle">Contactez-nous</span>
						<h2 class="section-heading-title margin-b16">Première consultation gratuite</h2>
						<p>Aenean facilisis, neque a varius porttitor, risus dui tempus libero, dictum aliquet justo enim vitae lorem. Aliquam lacinia lacinia mi ac convallis. Nulla et lacus et risus laoreet consectetur.</p>
						<div class="icon-box-wrapper">
							<div class="icon-box-icon"><i class="fas fa-map-marker-alt"></i></div>
							<div class="icon-box-content">
								<div class="icon-box-title">CABINET</div>
								<p class="icon-box-description">53 rue Chanzy, 13300 Salon de Provence</p>
							</div>
						</div>
						<!-- /icon-box-wrapper -->
						<div class="icon-box-wrapper">
							<div class="icon-box-icon"><i class="fas fa-phone-alt"></i></div>
							<div class="icon-box-content">
								<div class="icon-box-title">TÉLÉPHONE</div>
								<p class="icon-box-description">06.23.52.48.97 - 09.86.20.55.30</p>
							</div>
						</div>
						<!-- /icon-box-wrapper -->
						<div class="icon-box-wrapper">
							<div class="icon-box-icon"><i class="far fa-envelope"></i></div>
							<div class="icon-box-content">
								<div class="icon-box-title">EMAIL</div>
								<p class="icon-box-description">mylenefernandez.avocat@gmail.com</p>
							</div>
						</div>
						<div class="icon-box-wrapper">
							<div class="icon-box-icon"><i class="far fa-fax"></i></div>
							<div class="icon-box-content">
								<div class="icon-box-title">FAX</div>
								<p class="icon-box-description">09.72.36.46.85</p>
							</div>
						</div>
						<!-- /icon-box-wrapper -->
					</div>
					<div class="col-lg-6">
						<div id="contact-form-holder">
							<form method="post" action="#" th:action="@{/contactCheck}" th:object="${contact}">
								<div class="margin-b32"><label>Nom</label><input type="text" name="name" th:field="*{name}" class="comm-field"/></div>
								<div class="margin-b32"><label>Mail</label><input type="text" name="email" th:field="*{mail}" class="comm-field"/> </div>
								<div class="margin-b32"><label>Objet</label><input type="text" name="subject" th:field="*{subject}" class="comm-field" /> </div>
								<div class="margin-b32"><label>Message</label><textarea name="message" id="msg-contact" rows="5" th:field="*{message}"></textarea></div>
								<p class="antispam">Leave this empty: <input type="text" name="url" /></p>
								<p><input type="submit" value="Envoyer un message" id="submit"/></p>
							</form>
						</div>
						<!-- contact-form-holder-->
						<div id="output-contact"></div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<div class="container">
				<div class="gmaps">
					<iframe width="1080" height="300" id="gmap_canvas"
							src="https://maps.google.com/maps?q=53%20rue%20Chanzy,%2013300%20Salon%20de%20Provence&t=&z=15&ie=UTF8&iwloc=&output=embed"
							frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					<a href="https://putlocker-is.org"></a><a href="https://www.embedgooglemap.net"></a>
				</div>
			</div>
			<!-- /container -->	
		</section>
		<!-- /SECTION 9-->	
		</div>
		<!-- /PAGE CONTENT -->
		<!-- FOOTER -->
		<footer id="footer-var2">
			<div id="footer-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="foo-block">
								<h5 class="widgettitle">À propos</h5>
								<div class="textwidget">
									<div class="textwidget">
										<p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en vous garantissant expertise juridique, rigueur et confidentialité dans le traitement de vos dossiers.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="foo-block">
								<h5 class="widgettitle">Contact</h5>
								<div class="textwidget">
									<div class="textwidget">
										<p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
										<p>06.23.52.48.97<br> 09.86.20.55.30</p>
										<p>mylenefernandez.avocat@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="foo-block">
								<h5 class="widgettitle">Liens utiles</h5>
								<div class="textwidget custom-html-widget">
									<ul>
										<li> <a href="index">Accueil</a></li>
										<li><a href="practice">Domaine d'activité</a></li>
										<li><a href="contact">Contact</a></li>
										<li><a href="account">Espace client</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<ul class="footer-social alignc">
						<li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					</ul>
					<div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
				</div>
			</div>
		</footer>
		<!-- /FOOTER -->
		<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
		<!-- JS --> 
		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/jquery-migrate.min.js}"></script>
		<script th:src="@{/css/bootstrap/js/popper.js}"></script>
		<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
		<script th:src="@{/js/easing.js}"></script>
		<script th:src="@{/js/fitvids.js}"></script>
		<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
		<script th:src="@{/js/isotope.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<!-- MAIN JS -->
		<script th:src="@{/js/init.js}"></script>
		<!-- CONTAT FORM JS -->
		<script th:src="@{/js/jquery.form.min.js}"></script>
		<script th:src="@{/js/contactform.js}"></script>
	</body>
</html>