<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

	<meta charset="utf-8">
	<title>MFAvocat: Rendez-vous</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noodp"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
		  rel='stylesheet' type='text/css'>
	<!-- Bootstrap CSS -->
	<link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
		  media='all'/>
	<!-- Font Awesome Icons CSS -->
	<link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
		  media='all'/>
	<!-- Owl Carousel -->
	<link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
		  media='all'/>
	<!-- Main CSS File -->
	<link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
	<!-- favicons -->
	<link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
	<link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
	<link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
	<link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

	<!-- JS -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/jquery-migrate.min.js}"></script>
	<script th:src="@{/css/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/easing.js}"></script>
	<script th:src="@{/js/fitvids.js}"></script>
	<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/isotope.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<!-- MAIN JS -->
	<script th:src="@{/js/init.js}"></script>
	<!-- CONTAT FORM JS -->
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
	<div class="modal-menu-container">
		<div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
		<ul class="menu-mobile">
			<li class="menu-item">
				<a th:href="@{/index}">Accueil</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/rdv}">Rendez-vous</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/aboutMe}">L'avocate</a>
			</li>
			<li class="menu-item current-menu-item">
				<a th:href="@{/practice}">Domaine d'activité</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/contact}">Contact</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/faq}">FAQ</a>
			</li>
			<li class="menu-item">
				<a th:href="@{/testimonials}">Témoignages</a>
			</li>
			<li class="menu-item menu-item-has-children">
				<a th:href="@{/account}">Espace client</a>
				<ul class="sub-menu">
					<li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--					<li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--					<li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
					<li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
					<li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
					<li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
					<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
					<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
					<li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="menu-contact">
		<ul>
			<li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
			<li></li>
			<li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
			<li></li>
			<li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
		</ul>
		<ul class="social-media">
			<li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			<li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
		</ul>
	</div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
	<div class="container">
		<div class="header-wrap header-wrap1">
			<div class="logo logo-1">
				<a th:href="@{/index}">
					<img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
				</a>
			</div>
			<div class="header-contact">
				<div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
				</div>
				<div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
					mylenefernandez.avocat@gmail.com
				</div>
			</div>
			<div class="nav-button-holder">
				<button type="button" class="nav-button"><span class="icon-bar"></span></button>
			</div>
		</div>
		<div class="nav-holder nav-holder-1">
			<ul class="menu-nav  menu-nav-1">
				<li class="menu-item">
					<a th:href="@{/index}" >Accueil</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/rdv}">Rendez-vous</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/aboutMe}">L'avocate</a>
				</li>
				<li class="menu-item current-menu-item">
					<a th:href="@{/practice}">Domaine d'activité</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/contact}">Contact</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/faq}">FAQ</a>
				</li>
				<li class="menu-item">
					<a th:href="@{/testimonials}">Témoignage</a>
				</li>
				<li class="menu-item menu-item-has-children">
					<a th:href="@{/account}">Espace client</a>
					<ul class="sub-menu">
						<li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--						<li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--						<li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
						<li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
						<li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
						<li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
						<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
						<li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
						<li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>
	<!-- /HEADER -->
		<!-- TOP IMAGE -->
		<div class="page-head " style="background-image:url('static/images/top-bkgs/practice-areas.jpg');">
			<div class="inner-desc">
				<div class="container">
					<h1 class="page-title">Divorce</h1>
				</div>
			</div>
		</div>
		<!-- /TOP IMAGE -->
		<!-- PAGE CONTENT -->
		<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
		<!-- SECTION 1-->
		<section class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<img src="mages/blog/blog-1.jpg" class="img-fluid margin-b16" alt="" />
						<h3>Choosing the Right Attorney for Your Case</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo sapien felis. Pellentes faucibus sollicitudin ante,at porta felisrutrum eget. Sed ut nisl urna,e get convallis purus pretium facilisis. Interdum et malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo sapien felis.</p>
						<p>Cras eu nibh non dui mattis pretium id vitae erat. Quisque justo nisi, malesuada eget lorem ac, posuere dictum justo. Vestibulum vitae scelerisque ante. Duis at mi vel odio fermentum accumsan at nec massa. Donec id velit porta, mattis lorem vitae, convallis nunc. Phasellus euismod vulputate lacus ac commodo. Pellentesque id fermentum enim, non aliquam libero. Fusce tincidunt dictum erat sit amet volutpat.</p>
						<h3>Our experienced attorneys are willing to tackle the most complex of cases on your behalf</h3>
						<p>Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta eget vestibulum pulvinar, mattis sit amet ante. Donec non malesuada nisi, id rutrum dolor. Nullam vel dignissim velit. Nunc ligula tellus, iaculis et vehicula.</p>
						<p>Duis at mi vel odio fermentum accumsan at nec massa. Donec id velit porta, mattis lorem vitae, convallis nunc. Phasellus euismod vulputate lacus ac commodo. Pellentesque id fermentum enim, non aliquam libero. Fusce tincidunt dictum erat sit amet volutpat.</p>
					</div>
					<!-- /col-lg-9 -->
					<div class="col-lg-3">
						<aside>
							<ul>
								<li class="widget">
									<h5 class="widgettitle">Practice Areas</h5>
									<div class="sidebar widget_recent_entries">
										<ul>
											<li><a href="#">Auto Accidents</a></li>
											<li><a href="#">Construction Loans</a></li>
											<li><a href="#">Real Estate</a></li>
											<li><a href="#">Finance Law</a></li>
											<li><a href="#">Tax Disputes</a></li>
											<li><a href="#">Child Abuse</a></li>
											<li><a href="#">Health Care</a></li>
											<li><a href="#">Divorce</a></li>
											<li><a href="#">Aviation</a></li>
											<li><a href="#">Burn Injuries</a></li>
											<li><a href="#">Environmental Law</a></li>
											<li><a href="#">Medical Abuse</a></li>
										</ul>
									</div>
								</li>
								<li class="widget">
									<div class="practice-contact" style="background-image: url('static/images/practice/practice-banner.jpg');">
										<h5 class="white">Besoin d'aide?</h5>
										<p>Contactez-nous dès aujourd'hui pour une consultation gratuite et nos experts vous aideront.</p>
										<p><strong>Téléphone:</strong> 06.23.52.48.97<br><strong>Email:</strong> mylenefernandez.avocat@gmail.com</p>
										<p><strong>Lundi – Vendredi:</strong> 09:00 -17:00</p>
									</div>
								</li>
							</ul>
						</aside>
					</div>
					<!-- /col-lg-3 -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->	
		</section>
		<!-- /SECTION 1-->
		<!-- SECTION 2-->
		<section class="parallax section-about5" style="background-image:url('static/images/top-bkgs/contact.jpg');">
			<div class="container parallax-content">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 alignc">
						<span class="heading-subtitle white">Contactez-nous</span>
						<h2 class="margin-b16">Nous sommes là pour vous aider!</h2>
						<p>Appelez maintenant : 06.23.52.48.97 et prenez rendez-vous avec l'un de nos juristes.</p>
						<div class="view-more view-more-white margin-t54 alignc"><a href="contact">Prendre rendez-vous!</a></div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</section>
		<!-- /SECTION 2-->
		</div><!-- /PAGE CONTENT -->
		<!-- FOOTER -->
	<footer id="footer-var2">
		<div id="footer-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="foo-block">
							<h5 class="widgettitle">À propos</h5>
							<div class="textwidget">
								<div class="textwidget">
									<p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en vous garantissant expertise juridique, rigueur et confidentialité dans le traitement de vos dossiers.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="foo-block">
							<h5 class="widgettitle">Contact</h5>
							<div class="textwidget">
								<div class="textwidget">
									<p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
									<p>06.23.52.48.97<br> 09.86.20.55.30</p>
									<p>mylenefernandez.avocat@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="foo-block">
							<h5 class="widgettitle">Liens utiles</h5>
							<div class="textwidget custom-html-widget">
								<ul>
									<li> <a href="index">Accueil</a></li>
									<li><a href="practice">Domaine d'activité</a></li>
									<li><a href="contact">Contact</a></li>
									<li><a href="account">Espace client</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<ul class="footer-social alignc">
					<li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
					<li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
				</ul>
				<div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
			</div>
		</div>
	</footer>
		<!-- /FOOTER -->
<!-- /FOOTER -->
<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
<!-- JS -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>
<script th:src="@{/css/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/fitvids.js}"></script>
<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- MAIN JS -->
<script th:src="@{/js/init.js}"></script>
<!-- CONTAT FORM JS -->
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/contactform.js}"></script>
	</body>
</html>