<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <title>MFAvocat: Rendez-vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i'
          rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' id='bootstrap-css' th:href="@{/css/bootstrap/css/bootstrap.css}" type="text/css"
          media='all'/>
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' th:href="@{/css/fontawesome/css/all.min.css}" type='text/css'
          media='all'/>
    <!-- Owl Carousel -->
    <link rel='stylesheet' id='owl-carousel' th:href="@{/js/owl-carousel/owl.carousel.css}" type="text/css"
          media='all'/>
    <!-- Main CSS File -->
    <link rel='stylesheet' id='lawyers-style-css' th:href="@{/style.css}" type='text/css' media='all'/>
    <!-- favicons -->
    <link rel="icon" th:href="@{/images/icons/favicon-32x32.png}" sizes="32x32}"/>
    <link rel="icon" th:href="@{/images/icons/FormatPNG.webp}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/favicon-180x180.png}"/>

    <!-- JS -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-migrate.min.js}"></script>
    <script th:src="@{/css/bootstrap/js/popper.js}"></script>
    <script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/easing.js}"></script>
    <script th:src="@{/js/fitvids.js}"></script>
    <script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
    <script th:src="@{/js/isotope.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- MAIN JS -->
    <script th:src="@{/js/init.js}"></script>
    <!-- CONTAT FORM JS -->
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/contactform.js}"></script>
</head>
<body>
<div class="menu-mask"></div>
<!-- MOBILE MENU HOLDER -->
<div class="mobile-menu-holder">
    <div class="modal-menu-container">
        <div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
        <ul class="menu-mobile">
            <li class="menu-item">
                <a th:href="@{/index}">Accueil</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/rdv}">Rendez-vous</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/aboutMe}">L'avocate</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/practice}">Domaine d'activité</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/faq}">FAQ</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/testimonials}">Témoignages</a>
            </li>
            <li class="menu-item menu-item-has-children current-menu-item">
                <a th:href="@{/account}">Espace client</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                    <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                    <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                    <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                    <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                    <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                    <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item current-menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                    <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu-contact">
        <ul>
            <li><i class="fa fa-map-marker"></i><span>53 rue Chanzy, Salon de Provence</span></li>
            <li></li>
            <li><i class="fa fa-mobile"></i><span>06.23.52.48.97 - 09.86.20.55.30</span></li>
            <li></li>
            <li><i class="fa fa-envelope"></i><span>mylenefernandez.avocat@gmail.com</span></li>
        </ul>
        <ul class="social-media">
            <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
<!-- /MOBILE MENU HOLDER -->
<!-- HEADER -->
<header id="header-bar" class="header-1">
    <div class="container">
        <div class="header-wrap header-wrap1">
            <div class="logo logo-1">
                <a th:href="@{/index}">
                    <img class="img-fluid" style="max-width: 125px" th:src="@{/images/icons/FormatPNG.webp}" alt="Lawyers">
                </a>
            </div>
            <div class="header-contact">
                <div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 06.23.52.48.97
                </div>
                <div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span>
                    mylenefernandez.avocat@gmail.com
                </div>
            </div>
            <div class="nav-button-holder">
                <button type="button" class="nav-button"><span class="icon-bar"></span></button>
            </div>
        </div>
        <div class="nav-holder nav-holder-1">
            <ul class="menu-nav  menu-nav-1">
                <li class="menu-item">
                    <a th:href="@{/index}" >Accueil</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/rdv}">Rendez-vous</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/aboutMe}">L'avocate</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/practice}">Domaine d'activité</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/contact}">Contact</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/faq}">FAQ</a>
                </li>
                <li class="menu-item">
                    <a th:href="@{/testimonials}">Témoignage</a>
                </li>
                <li class="menu-item menu-item-has-children current-menu-item">
                    <a th:href="@{/account}">Espace client</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a th:href="@{/rdv}">Prendre rendez-vous</a></li>
<!--                        <li class="menu-item"><a th:href="@{/transmit}">Transmettre un document</a></li>-->
<!--                        <li class="menu-item"><a th:href="@{/folder}">Consulter son dossier</a></li>-->
                        <li class="menu-item"><a th:href="@{/message}">Envoyer un message</a></li>
                        <li class="menu-item"><a th:href="@{/bills}">Consulter ses factures</a></li>
                        <li class="menu-item"><a th:href="@{/accountInformation}">Consulter son compte</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item"><a th:href="@{/logIn}">Se connecter</a></li>
                        <li th:if="${userCurrent.getRole() == userCurrent.getRole().NOT_CONNECTED}"class="menu-item current-menu-item"><a th:href="@{/register}">S'enregistrer</a></li>
                        <li th:if="${userCurrent.getRole() != userCurrent.getRole().NOT_CONNECTED}" class="menu-item"><a th:href="@{/logOut}">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- /HEADER -->

<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url('static/images/top-bkgs/about.jpg');">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">S'enregistrer</h1>
            <span class="post-subtitle page-subtitle">Formulaire d'inscription</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->

<div class="aligncenter testimonial-wrapper  mb-3" style="max-width: 650px; padding: 30px">
<form method="post" action="#" th:action="@{/registerCheck}" th:object="${registerForm}" class="col-lg form-horizontal well">
    <fieldset >
        <legend class="lawyer-position push border-bottom text-right">Identité</legend>
        <div class="row form-group">
            <label for="name" class="col-sm-3 col-form-label">Nom<span class="text-danger">*</span>:</label>
            <div class="col-sm-9">
                <input id="name" type="text" th:field="*{user.name}" class="form-control" placeholder="(de 3 à 50 caractères)">
                <div th:if="${registerFormCheck.isNameSize()}">
                    <p th:if="${registerFormCheck.isNameEmpty()}" class="text-danger">Le champ Nom est obligatoire.</p>
                    <p th:unless="${registerFormCheck.isNameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="firstname" class="col-sm-3 col-form-label control-label">Prénom<span class="text-danger">*</span>:</label>
            <div class="col-sm-9">
                <input id="firstname"  type="text" th:field="*{user.firstname}"class="form-control" placeholder="(de 3 à 50 caractères)">
                <div th:if="${registerFormCheck.isFirstnameSize()}">
                    <p th:if="${registerFormCheck.isFirstnameEmpty()}" class="text-danger">Le champ Prénom est obligatoire.</p>
                    <p th:unless="${registerFormCheck.isFirstnameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="lawyer-position push border-bottom text-right">Coordonnée</legend>
        <div class="row form-group">
            <label for="address" class="col-sm-3 col-form-label">Adresse postale<span class="text-danger">*</span>: </label>
            <div class="col-sm-2">
                <input id="numAddress" th:field="*{address.num}" type="text" class="form-control" placeholder="N°">
                       <p th:if="${registerFormCheck.isAddressNumEmpty()}" class="text-danger">Le numéro de l'adresse doit être différent de 0.</p>

            </div>
            <div class="col-sm-7">
                <input id="address" th:field="*{address.name}" type="text" class="form-control" placeholder="Rue">
                                <div th:if="${registerFormCheck.isAddressNameSize()}">
                                    <p th:if="${registerFormCheck.isAddressNameEmpty()}" class="text-danger">Le champ Adresse est obligatoire.</p>
                                    <p th:unless="${registerFormCheck.isAddressNameEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 à 50 caractères.</p>
                                </div>
            </div>
            <div class="offset-3 col-sm-4">
                <input id="ZIP" th:field="*{address.zipCode}" type="text" class="form-control" placeholder="Code Postale">
                                <div th:if="${registerFormCheck.isZipSize()}">
                                    <p th:if="${registerFormCheck.isZipEmpty()}" class="text-danger">Le champ Code Postale est obligatoire.</p>
                                    <p th:unless="${registerFormCheck.isZipEmpty()}" class="text-danger">Attention! Le champ doit être composer de 5 chiffres (ex : 13005).</p>
                                </div>
            </div>
            <div class="col-sm-5">
                <input id="city" th:field="*{address.city}" type="text" class="form-control" placeholder="Ville">
                                <div th:if="${registerFormCheck.isAddressCitySize()}">
                                    <p th:if="${registerFormCheck.isAddressCityEmpty()}" class="text-danger">Le champ Pays est obligatoire.</p>
                                    <p th:unless="${registerFormCheck.isAddressCityEmpty()}" class="text-danger">Attention! Le champ doit être compris entre 3 et 50 caractères.</p>
                                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="mail" class="col-sm-3 col-form-label">Adresse e-mail<span class="text-danger">*</span>: </label>
            <div class="col-sm-9">
                <input id="mail" th:field="*{address.mail}" type="email" class="form-control" placeholder="(de 3 à 50 caractères)">
                <p th:if="${registerFormCheck.isMailExisting()}" class="text-danger">Un utilisateur est déjà enregistrer avec cette e-mail.</p>
                <th:block th:unless="${registerFormCheck.isMailExisting()}">
                    <div th:if="${registerFormCheck.isMailSize()}">
                        <p th:if="${registerFormCheck.isMailEmpty()}" class="text-danger">Le champ E-mail est obligatoire.</p>
                        <p th:unless="${registerFormCheck.isMailEmpty()}" class="text-danger">Attention! Le champ est trop long ( Entre 3 et 50 caractères).</p>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="row form-group">
            <label for="mail2" class="col-sm-3 col-form-label">Vérification Adresse e-mail<span class="text-danger">*</span>:</label>
            <div class="col-sm-9">
                <input id="mail2" name="mail2" type="email" class="form-control" placeholder="Retapez la même adresse e-mail">
                <th:block th:unless="${registerFormCheck.isMailExisting()}" >
                    <p th:if="${registerFormCheck.isMailDifferent()}" class="text-danger">Les deux champs sont différents</p>
                    <th:block th:unlex="${registerFormCheck.isMailDifferent()}">
                        <p th:if="${registerFormCheck.isMailCheckEmpty()}" class="text-danger">Le champ E-mail est obligatoire. Il doit être égale à l'email précédent.</p>
                    </th:block>
                </th:block>
            </div>
        </div>
        <div class="row form-group">
            <label for="phone" class="col-sm-3 col-form-label">Téléphone<span class="text-danger">*</span>: </label>
            <div class="col-sm-9">
                <input id="phone" th:field="*{address.phone}" type="tel" class="form-control">
                <div th:if="${registerFormCheck.isPhoneSize()}">
                    <p th:if="${registerFormCheck.isPhoneEmpty()}" class="text-danger">Le champ Téléphone est obligatoire.</p>
                    <p th:unless="${registerFormCheck.isPhoneEmpty()}" class="text-danger">Attention! Le champ doit être composer de 10 ou 12 chiffres (ex : 0612435687 ou +33 605457878).</p>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend class="lawyer-position push border-bottom text-right">Compte</legend>
        <div class="row form-group">
            <label for="pseudo" class="col-sm-3 col-form-label">Pseudo<span class="text-danger">*</span>: </label>
            <div class="col-sm-9">
                <input id="pseudo" th:field="*{user.username}" type="text" class="form-control" placeholder="(de 3 à 50 caractères)">
                <p th:if="${registerFormCheck.isPseudoExisting()}" class="text-danger">Un utilisateur est déjà enregistrer avec ce pseudo.</p>
                <th:block th:unless="${registerFormCheck.isPseudoExisting()}">
                    <div th:if="${registerFormCheck.isPseudoSize()}">
                        <p th:if="${registerFormCheck.isPseudoEmpty()}" class="text-danger">Le champ pseudo est obligatoire.</p>
                        <p th:unless="${registerFormCheck.isPseudoEmpty()}" class="text-danger">Attention! Le champ est trop long ( Entre 3 et 50 caractères).</p>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="row form-group">
            <label for="password" class="col-sm-3 col-form-label">Mot de passe<span class="text-danger">*</span>: </label>
            <div class="col-sm-9">
                <input id="password" th:field="*{user.password}" type="password" class="form-control" placeholder="(de 3 à 100 caractères)">
                <div th:if="${registerFormCheck.isPasswordSize()}">
                    <p th:if="${registerFormCheck.isPasswordEmpty()}" class="text-danger">Le champ Mot de Passe est obligatoire.</p>
                    <p th:unless="${registerFormCheck.isPasswordEmpty()}" class="text-danger">Attention! Le champ est trop long ( Entre 3 et 100 caractères).</p>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="password2" class="col-sm-3 col-form-label">Vérification Mot de passe<span class="text-danger">*</span>: </label>
            <div class="col-sm-9">
                <input id="password2" name="password2" type="password" class="form-control" placeholder="Retapez le même mot de passe">
                <p th:if="${registerFormCheck.isPasswordDifferent()}" class="text-danger">Les deux champs sont différents</p>
                <th:block th:unlex="${registerFormCheck.isPasswordDifferent()}">
                    <p th:if="${registerFormCheck.isPasswordCheckEmpty()}" class="text-danger">Le champ Mot de Passe est obligatoire. Il doit être égale au mot de passe précédent.</p>
                </th:block>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <input style="margin: auto" type="submit" value="S'inscrire" id="submit"/>
    </div>
    <p class="text-danger">Champ obligatoire *</p>
</form>
</div>
</div>
<p class="offset-md-3 offset-sm-1 col-md-6 col-sm-10 text-justify info-act" style="line-height:1.8em;font-size:14px">Que cela soit en visio ou en présentiel, avoir un compte constitue une facilité de prise de rendez-vous avec votre avocat. Cela permet d'obtenir des plages horaires libres et d'obtenir au plus vite un rendez-vous selon vos disponibilités.</p>

<p class="offset-md-3 offset-sm-1 col-md-6 col-sm-10 text-justify info-act" style="line-height:1.8em;font-size:14px">Posséder un compte permet d'obtenir plusieurs fonctionnalités tel que la prise de rendez-vous,  transmettre des documents, accéder à une messagerie, consulter et payer ses factures, consulter les différents documents accessibles.</p>

<p class="offset-md-3 offset-sm-1 col-md-6 col-sm-10 text-justify info-act" style="line-height:1.8em;font-size:14px">Le site est totalement sécurisé. Seulement vous et votre avocat ont accès à vos informations.</p>
<!-- /PAGE CONTENT -->
<!-- FOOTER -->
<footer id="footer-var2">
    <div id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">À propos</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p class="text-justify">Maître Mylène FERNANDEZ met ses compétences à votre service en vous garantissant expertise juridique, rigueur et confidentialité dans le traitement de vos dossiers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Contact</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>53 rue Chanzy,<br> 13300 Salon de Provence</p>
                                <p>06.23.52.48.97<br> 09.86.20.55.30</p>
                                <p>mylenefernandez.avocat@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Liens utiles</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li> <a href="index">Accueil</a></li>
                                <li><a href="practice">Domaine d'activité</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="account">Espace client</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="footer-social alignc">
                <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="foo-copyright alignc">Designed/ Created by Dubois Geoffrey</div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
<div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
<!-- JS -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-migrate.min.js}"></script>
<script th:src="@{/css/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script th:src="@{/js/fitvids.js}"></script>
<script th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/isotope.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- MAIN JS -->
<script th:src="@{/js/init.js}"></script>
<!-- CONTAT FORM JS -->
<script th:src="@{/js/jquery.form.min.js}"></script>
<script th:src="@{/js/contactform.js}"></script>
</body>
</html>